footer
  min-height: $footer-height
  margin-top: -$footer-height
  box-sizing: border-box
  z-index: 997
  display: flex
  flex-direction: column
  justify-content: flex-start
  color: #424447
  padding: 10px 0 20px
  font-size: 13px
  line-height: normal
  border-top: 1px solid #9e9f9f
  background-image: url('../images/footer-bg.jpg')
  background-repeat: repeat-x
  background-position: center 0
  background-size: cover
  h3
    color: #424447
    font-weight: 600
    font-size: 18px
  a
    color: #424447
    &:hover
      color: #424447

  .box-status
    font-size: 14px
  .box-phone,
  .box-copyright
    i
      font-size: 14px

  [class*=module]
    padding-top: 15px

  .footer__right
    border-left: 1px solid #6c9d9e
    &--right
      border-left: 1px solid #6c9d9e
