header
  position: relative
  z-index: 997
  box-sizing: border-box
  padding: 20px 0 0 0
  a
    color: $color-green
    &:hover
      color: $color-green
      text-decoration: underline

  li
    a
      color: #76818b
      display: block
      width: 100%
      font-size: 14px
      padding: 8px 10px
      &:hover
        border-color: $color-green !important
        text-decoration: none