+max(w1360)
  [class*=carousel],
  [class*=slider]
    .slick-arrow
      &.slick-prev
        left: 6px
      &.slick-next
        right: 6px

  .s-ceo
    padding-bottom: 50px
    [class*=module]
      margin-top: 10px