+max(mobile)
  .s-top
    padding-top: 20px
    text-align: center
    margin-bottom: 0
    h1
      font-size: 24px
      line-height: 28px
    .block__img
      right: 0
      img
        width: 300px
        top: 0

    .module__consult
      font-size: 14px
      .box-phone
        font-size: 18px
    .module__name
      span
        font-size: 18px
        line-height: 22px
      a
        font-size: 12px
    [class*=col]
      width: 100% !important
      flex: 0 0 100%
      max-width: 100%
      margin-bottom: 10px
      + [class*=col]
        margin-bottom: 0


  .block__tabs
    li
      padding-left: 5px !important
      padding-right: 5px !important
      margin-bottom: 10px
      width: 100% !important
