+max(w480)
  .content
    article
      h1
        font-size: 24px
        line-height: 30px

  .s-history
    h2
      font-size: 30px
      line-height: 36px

      .carousel
      margin: 0
      .slick-list
        margin: 0


