+max(w576)
  .s-top
    h1
      font-size: 26px
      line-height: 32px
      margin-bottom: 0
    .block__img
      img
        width: 380px

  .s-order
    .module__order
      border-radius: 0
      box-shadow: none
      margin-left: -10px
      margin-right: -10px
      padding: 10px !important
  .carousel-0
    .slick-list
      margin: 0
      .item
        padding: 0

  .s-carousel
    .container
      padding-left: 0
      padding-right: 0
  .s-info-1
    h2
      font-size: 24px
      line-height: 32px
  .s-history
    h2
      font-size: 36px
      line-height: 42px

  [class*=s]
    h2
      font-size: 24px
      line-height: 30px
    h3
      font-size: 18px
      line-height: 24px

  .content
    .s
      p,li
        font-size: 14px
        line-height: 18px