+max(w600)
  .list__gallery
    &--item
      .item-photo
        img
          object-fit: cover
          width: 100% !important
          height: auto !important
          min-height: 255px

  .carousel.carousel-3
    .slick-slide
      flex-direction: column
      > div
        margin-bottom: 10px