+max(w767)
  .s-top
    margin-bottom: 0
    .block__img
      img
        width: 450px

  .content
    article
      h1
        font-size: 36px
        line-height: 42px
      h2
        font-size: 28px
        line-height: 34px

  [class*=s]
    h2
      font-size: 30px
      line-height: 36px
    h3
      font-size: 24px
      line-height: 30px

  .content
    .s
      p,li
        font-size: 14px
        line-height: 18px


  footer
    padding-top: 30px
    padding-bottom: 30px
    [class*=module]
      padding-top: 0
