+max(pad)
  .container, [class*=col]
    padding-left: 10px
    padding-right: 10px
    .row
      margin-left: -10px
      margin-right: -10px

  .module__nav
    .no-gutters
      margin-right: 0
      margin-left: 0

      [class*=col]
  .s
    overflow: hidden

  br
    display: none

  .module__nav
    .container, [class*=col]
      padding-left: 2.5px
      padding-right: 2.5px
      .row
        margin-left: -2.5px
        margin-right: -2.5px

  .nav-mobile
    li
      margin-bottom: 5px
    a
      display: block
      background: #fff
      color: #76818b
      padding: 10px


  .s-top
    margin-top: 0
    padding-top: 30px
    position: relative
    //margin-bottom: -20px

    h1
      font-size: 36px
      line-height: 40px

    .module__consult
      line-height: 20px
      .box-phone
        font-size: 24px
        line-height: 28px
    .module__name
      span
        font-size: 22px
        line-height: 26px
      a
        font-size: 14px
        line-height: 18px
    .module__share
      a
        margin-right: 5px
    .block__img
      img
        position: relative
        //top: -20px

  .slider,
  .carousel
    .slick-dots
      padding-top: 20px
      li
        margin-left: 10px
        margin-right: 10px
      button
        width: 16px
        height: 16px

  .s-info-0
    padding: 40px 0
    h2
      margin-bottom: 20px
      font-size: 36px
      line-height: 42px
    h3
      font-size: 24px
      line-height: 32px
      margin-bottom: 20px

    ul, .view
      margin-left: 0

  .s-history
    .carousel
      .item__text
        padding-bottom: 10px
  .list__marker
    br
      display: none

  footer
    padding: 40px 0 50px
    height: auto

  .footer__bottom
    .module__share
      margin-left: 0
      a
        margin: 0 4px

  .modal-dialog
    .modal-description
      text-align: center
      font-size: 20px
      line-height: 30px
      max-width: 320px
      margin: 0 auto
    .modal-content
      min-height: auto
      h5
        font-size: 36px
        line-height: 42px
