+module("carousel-feeds")
  h3.module-title.mb-0.p-xl-3.p-lg-3.p-2 Отзывы о нашей продукции
  .carousel.carousel-feeds.list__feeds
    - for (var x = 0; x < 3; x++)
      .item
        .row
          .col-xl-2.col-lg-3.col-md-3.col-md-3.mb-xl-0.mb-lg-0.mb-md-0.mb-2
            .feeds-photo
              a.d-block.w-100.mr-2(href="#")
                +img("img-feed").img-fluid
          .col-xl-10.col-lg-9.col-md-9.pl-xl-0.pl-lg-0.pl-md-0
            .feeds-text
              p Сплав АКН относится к материалам, безопасным в отношении фрикционных искр трения для взрывчатых смесей газов и паров с воздухом, относящихся к категории IIA, IIB: с областью применения в местах, категорированных как взрывопожароопасные, внутри и снаружи помещений при температурах от -40С до + 60С.
              p: i Название компании или ФИО
