if page == 'p0004'
  +module("nav")
    ul
      li: a(href="#") Фрезерная обработка
      li: a(href="#") Токарная обработка
      li.current: a(href="#") Сварочные работы
      li: a(href="#") Термообработка
      li: a(href="#") Шлифовальные работы
      li: a(href="#") Зуборезные работы
      li: a(href="#") Расточные работы

if page == 'p0007'
  +module("nav","Справочник")
    ul
      li: a(href="#") Арматура, катанка
      li: a(href="#") Балка двутавровая, швеллер
      li: a(href="#") Уголок
      li.current: a(href="#") Квадрат, круг, полоса
      li: a(href="#") Оконно-рамный профиль
      li: a(href="#") Трубы г/д
      li: a(href="#") Трубы х/д
      li: a(href="#") Трубы ВГП
      li: a(href="#") Электросварные трубы
      li: a(href="#") Нержавеющие трубы
      li: a(href="#") Трубопроводная арматура
      li: a(href="#") Лист горячекатаный
      li: a(href="#") Лист холоднокатаный
      li: a(href="#") Профнастил
      li: a(href="#") ПВЛ, рифленый лист
      li: a(href="#") Оцинкованный лист
      li: a(href="#") Лист нержавеющий