+module("order-calc")
  .uk-background-cover(style="background-image: url('./images/order-calc.jpg')")
    .uk-grid.uk-grid-small.uk-flex-middle(uk-grid)
      div(class="uk-col-m-5")
        strong Вы можете бесплатно запросить расчет стоимость заполнив форму
      div(class="uk-col-m-3 uk-text-center")
        a.uk-button.btn-blue(href="#") Задать вопрос
      div(class="uk-col-m-4")
        | или связаться с нами по телефону:
        br
        span.phone +7 (3843) 20-46-70