+module("why")
  h3.module-title Почему выбирают нас
  .row.list__why
    each item,i in LIST.why
      - var n = i+1
      .col-xl-4.col-4-lg.col-md-6
        .item(data-aos="fade-up" data-aos-delay=n+"00")
          .item-icon.mb-xl-3.mb-lg-3.mb-md-2.mb-1
            i(class="icon-why-"+i+"")
          .item-text
            h3!= item.title
            p!= item.text