+module("documents")
  h3.module-title Документация
  -
    var listDoc = [
      {"type":"pdf","text":"Сертификат"},
      {"type":"xls","text":"Здесь написано длинное и сложное название документа"},
      {"type":"doc","text":"И вновь десь написано длинное и сложное название документа с какими то непонятными цифромыми"},
      {"type":"pdf","text":"Опросный лист"},
      {"type":"pdf","text":"Опросный лист"},
      {"type":"pdf","text":"Здесь написано длинное и сложное название документа"}
    ]
  mixin doc(type,text)
    a.item.d-flex.align-items-center(href="#")
      span.box__icon
        i(class="svg-"+type)
      span
        span!= text

  .row.list__documents
    each item in listDoc
      .col-xl-4.col-lg-6.col-md-6.mb-xl-3.mb-lg-3.mb-1
        +doc(item.type,item.text)