+module("callback")
  .uk-background-cover(style="background-image: url('./images/callback.jpg')")
    h3.uk-text-center Вы можете бесплатно получить консультацию по интересующему Вас вопросу
    .uk-text-center Просто заполните форму
    form(action="#" class="uk-form")
      .uk-form-row
        input(type="text" placeholder="Как Вас зовут?")
      .uk-form-row
        input.phone(type="text" placeholder="Ваш телефон")
      .uk-form-row.row-check
        input#ch1.iCheck.white(type="checkbox", name="ch1" checked)
        p Я принимаю условия пользовательского соглашения и даю своё согласие группе компаний «Сфера» на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных политикой конфиденциальности.

      .uk-form-row.row-btn
        button.uk-button.btn-bdr.btn-bdr-white Заказать звонок
    .module__bottom.uk-text-center
      | или позвоните нам:
      .phone +7 (812) 337-10-13