if page == 'p0006'
  +module("product-description")
    mixin rowTechInfo(p1,p2,m)
      .row-tech-info(class=m)
        span.text-uppercase.d-block!= p1
        span.d-block.pr-xl-3.pr-lg-3!= p2

    .bg-white.bg-radius.p-xl-3.p-lg-3.p-2
      .row
        .col-xl-4.col-lg-4.col-md-6
          +rowTechInfo("Способ изготовления:","прессованные, тянутые","mb-xl-3 mb-lg-3 mb-md-2 mb-1")
          +rowTechInfo("Сечение:","Круглое","mb-xl-3 mb-lg-3 mb-md-2 mb-1")
          +rowTechInfo("Состояние","тв, п/тв, м")

        .col-xl-4.col-lg-4.col-md-6
          +rowTechInfo("ГОСТ и ТУ","ГОСТ 1535-2016","mb-xl-3 mb-lg-3 mb-md-2 mb-1")
          +rowTechInfo("Размер","20–140, 3-12 в концах, 3-16 в бухтах, 17-50, 13-16","mb-xl-3 mb-lg-3 mb-md-2 mb-1")
          +rowTechInfo("Стандарт на марку","ГОСТ 5781")

        .col-xl-4.col-lg-4
          +rowTechInfo("Цена","от 31 250 руб.","mb-xl-3 mb-lg-3 mb-md-2 mb-1")
          a.btn.btn-simple.x2.w-100(href="#"  data-toggle="modal" data-target="#modalOrder") заказать

else
  +module("product-description")
    mixin rowTechInfo(p1,p2,m)
      .row-tech-info(class=m)
        span.text-uppercase.d-block!= p1
        span.d-block!= p2

    .bg-white.bg-radius.p-xl-3.p-lg-3.p-2.mb-xl-4.mb-lg-3.mb-2
      .row
        .col-xl-4.col-lg-4.col-md-5.mb-xl-0.mb-lg-0.mb-md-3.mb-2
          .slider.slider-product.mb-1
            - for (var i = 0; i < 2; i++)
              - for (var x = 0; x < 3; x++)
                .item
                  +img("pg-big").img-fluid
          .slider.slider-product-th
            - for (var i = 0; i < 2; i++)
              - for (var x = 0; x < 3; x++)
                .item
                  +img("th"+x).img-fluid


        .col-xl-8.col-lg-8.col-md-7
          if page == 'p0008'
            .row.mb-xl-4.mb-lg-0
              .col-xl-3.col-lg-6.col-md-6.pr-xl-3
                +rowTechInfo("Сплав:","БрНХК-Ф<br> БрХ<br> AERIS<br> БрНХК-Ф<br> БрХ<br> AERIS<br> БрНХК-Ф<br> БрХ AERIS","mb-xl-3 mb-lg-3 mb-md-2 mb-1")
              .col-xl-6.col-lg-6.col-md-6.pl-xl-0
                +rowTechInfo("Типы металла:","алюминиевые сплавы для наплавки<br> по чугуну и сплавов на основе никеля<br> по чугуну и сплавов на основе никеля<br> по чугуну и сплавов на основеникеля", "mb-3")
              .col-xl-3.col-lg-12.pl-xl-0.pr-0
                .row
                  +rowTechInfo("Диаметры:","1,6 мм<br> 2,0 мм<br> 2,4 мм<br> 2,6 мм","col-xl-12 col-6 mb-xl-3 mb-lg-3 mb-md-2 mb-1")
                  +rowTechInfo("ГОСТ и ТУ","ГОСТ 1535-2016<br> ГОСТ 1535-2016<br> ГОСТ 1535-2016","col-xl-12 col-6")

            .row
              .col-xl-4.col-lg-12.mb-xl-0.mb-lg-2.mb-2.pr-0
                .box__price
                  span.text-uppercase.d-block ЦЕНА
                  strong.d-block от 31 250 руб.
              .col-xl-8.col-lg-12.pl-xl-0
                .box__btn
                  a.btn.btn-simple.x2(href="#" data-toggle="modal" data-target="#modalCost") Заказать индивидуальный расчет
          else
            .row
              .col-xl-4.col-lg-6.col-md-6.col-sm-6
                +rowTechInfo("Сплав:","БрНХК-Ф","mb-xl-2 mb-lg-2 mb-md-2 mb-1")
                +rowTechInfo("Диаметр:","1,6 мм","mb-xl-2 mb-lg-2 mb-md-2 mb-1")
                +rowTechInfo("Диаметр:","1,6 мм","mb-xl-2 mb-lg-2 mb-md-2 mb-1")
              .col-xl-4.col-lg-6.col-md-6.col-sm-6.pl-xl-0
                +rowTechInfo("ГОСТ и ТУ","ГОСТ 1535-2016","mb-xl-2 mb-lg-2 mb-md-2 mb-1")
                +rowTechInfo("свойство","алюминиевые сплавы","mb-xl-2 mb-lg-2 mb-md-2 mb-1")
                +rowTechInfo("Диаметр:","1,6 мм","mb-xl-2 mb-lg-2 mb-md-2 mb-1")
              .col-xl-4.col-lg-6.col-md-6.pl-xl-0
                +rowTechInfo("ГОСТ и ТУ","ГОСТ 1535-2016","mb-xl-2 mb-lg-2 mb-md-2 mb-1")
                +rowTechInfo("свойство","алюминиевые сплавы","mb-xl-2 mb-lg-2 mb-md-2 mb-1")
                +rowTechInfo("Диаметр:","1,6 мм","mb-xl-2 mb-lg-2 mb-md-2 mb-1")
              .col-xl-12
                .box__price.mb-2
                  span.text-uppercase.d-block ЦЕНА
                  strong.d-block от 31 250 руб.
                .box__btn.text-left
                  a.btn.btn-simple.x2(href="#" data-toggle="modal" data-target="#modalOrder") Заказать