+module("shems")
  h3.module-title Чертежи
  .carousel.carousel-shems.carousel-grid
    - for (var x = 0; x < 3; x++)
      - for (var i = 0; i < 3; i++)
        .item
          a.d-block(href="./images/sh-big.jpg" data-fancybox="sheme" data-caption="Равным образом повышение уровня гражданского сознания способствует подготовке и реализации соответствующих условий активизации? Дорогие друзья, постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствующей насущным потребностям? Соображения высшего порядка, а также постоянное информационно-техническое обеспечение нашей деятельности обеспечивает актуальность направлений прогрессивного развития!")
            +img("sh"+i).img-fluid.w-100
