h3: span Вы можете бесплатно получить информацию по интересующему<br>Вас вопросу
p.mb-3 Просто заполните форму

form.tech(action="#")
  -
    var formEl = [
      {"id":"name","type":"text","place":"Как Вас зовут?"},
      {"id":"phone","type":"tel","place":"Ваш телефон"}
    ]

  each item,i in formEl
    .form-group: input(
      class=i === 1 ? 'form-control phone':'form-control'
      id=item.id
      type=item.type
      placeholder=item.place
    )

  .form-group.form-group-check.text-left
    input.iCheck#ch1(type="checkbox" checked)
    label(for="ch1")
      .form-text Я принимаю условия <a href="#">пользовательского соглашения</a> и даю своё согласие группе компаний «Всев Энерго» на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных <a href="#">политикой конфиденциальности</a>.

  .form-group.mt-2.mb-5
    a.btn.btn-orange(href="#")
      span Заказать звонок

  p или свяжитесь с нами по телефону:

  p.phone
    strong +7 (812) 336-14-36