+keyframes(bounce)
  0%
    top: 50%
  50%
    top: 48%
  70%
    top: 47%
  100%
    top: 50%

+keyframes(bounce2)
  0%
    transform: translateY(0)
  40%
    transform: translateY(-5px)
  80%
    transform: translateY(5px)


+keyframes(sonar-effect)
  0%
    opacity: 0.3
  40%
    opacity: 0.5
    box-shadow: 0 0 0 5px #fff, 0 0 10px 10px #fff, 0 0 0 10px #fff
  100%
    box-shadow: 0 0 0 5px #fff, 0 0 10px 10px #fff, 0 0 0 10px #fff
    transform: scale(1.8)
    opacity: 0

+keyframes(sonar-effect-blue)
  0%
    opacity: 0.3
  40%
    opacity: 0.5
    box-shadow: 0 0 0 5px #5fd0f3, 0 0 10px 10px #5fd0f3, 0 0 0 10px #5fd0f3
  100%
    box-shadow: 0 0 0 5px #5fd0f3, 0 0 10px 10px #5fd0f3, 0 0 0 10px #5fd0f3
    transform: scale(1.5)
    opacity: 0
