*
  outline: none !important
  padding: 0
  margin: 0

  &:hover, &:active, &:visited
    outline: none !important

body
  background-color: #fff
  color: $color-text
  font:
    family: $font
    weight: 400
    size: $font-size-base
  -webkit-font-smoothing: antialiased
  &.over
    overflow: hidden

h1, h2, h3, h4, h5
  padding: 0
  margin: 0
  font-weight: normal
  color: $color-title

h1
  font-size: 60px

h2
  font-size: 36px

h3
  font-size: 20px

i
  font-style: italic

a
  color: $color-green
  text-decoration: none
  &:hover
    text-decoration: underline

.arrow-bottom
  display: inline-block
  &:before
    content: ""
    display: inline-block
    width: 0
    height: 0
    border-style: solid
    border-width: 6px 5px 0 5px
    border-color: #575757 transparent transparent transparent

.fz16
  font-size: 16px !important
