%center
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  position: absolute

%center-right
  top: 50%
  right: 0
  transform: translateY(-50%)
  position: absolute

%center-left
  top: 50%
  left: 0
  transform: translateY(-50%)
  position: absolute

%hover
  position: relative
  text-decoration: none
  background: url('../images/hover.png') 0 100% repeat-x
  &:hover
    text-decoration: none
    background: none

%hover-blue
  position: relative
  text-decoration: none
  background: url('../images/hover-blue.png') 0 100% repeat-x
  &:hover
    text-decoration: none
    background: none

%hover-dark
  position: relative
  text-decoration: none
  background: url('../images/hover-gray2.png') 0 100% repeat-x
  &:hover
    text-decoration: none
    background: none
%hover-gray
  position: relative
  text-decoration: none
  background: url('../images/hover-gray.png') 0 100% repeat-x
  &:hover
    text-decoration: none
    background: none

%hover-white
  position: relative
  text-decoration: none
  background: url('../images/hover-white.png') 0 100% repeat-x
  &:hover
    text-decoration: none
    background: none
%hover-red
  position: relative
  text-decoration: none
  background: url('../images/hover-red.png') 0 100% repeat-x
  &:hover
    text-decoration: none
    background: none