.form-group
  margin-bottom: 16px

.form-control
  padding: 8px 10px
  box-sizing: border-box
  font-size: 14px
  font-family: $font
  color: #4d585f
  border-radius: 3px
  resize: none
  font-style: italic
  border-style: solid
  border-width: 1px
  border-color: rgb(161, 161, 161)
  background-color: rgb(255, 255, 255)

  +placeholder
    color: #333
  &:focus
    border-color: #bcc3c6
    background: #f7fcfc
    box-shadow: none
    color: #111
    &::placeholder
      color: #111
  &.error
    border-color: #e18484

textarea
  height: 155px
  +placeholder
    color: #4d585f
    font-size: 14px

.row-check
  padding-left: 36px
  position: relative
  .icheckbox
    position: absolute !important
    left: 0
    top: 6px
  p
    font-size: 14px
    line-height: 24px
    padding: 0
    margin: 0 0 30px
    a
      color: $color-blue

.icheckbox
  width: 20px
  height: 20px
  background-color: #ffffff
  border: 1px solid $color-border
  box-sizing: border-box
  cursor: pointer
  position: relative
  border-radius: 4px
  display: inline-block
  vertical-align: middle
  + span
    display: inline-block
    vertical-align: middle
    margin-left: 10px
  &:before
    @extend %icon
    +sprite($check)
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    opacity: 0

  &.checked
    border-color: $color-blue
    &:before
      opacity: 1

.form-group
  small
    display: inline-block
    padding: 5px 0 0 0
    font-size: 12px
    color: #666666

.form-group-check
  padding-left: 32px
  position: relative
  margin-bottom: 0
  .label, label
    margin-bottom: 0
    display: inline-block
    vertical-align: middle
  a
    text-decoration: none
    &:hover
      text-decoration: underline

  small
    font-size: 14px
    line-height: 24px
    color: #37404d

  .icheckbox
    position: absolute
    left: 0
    top: 4px
  a
    color: #e1181e

.file
  width: .1px
  height: .1px
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1

.file + label
  text-overflow: ellipsis
  white-space: nowrap
  cursor: pointer
  display: inline-block
  overflow: hidden
  margin: 0
  padding: 0
  line-height: 14px
  font-size: 12px
  color: #4d585f

.no-js .file + label
  display: none

.file
  &:focus + label, &.has-focus + label
    outline: 1px dotted #000
    outline: -webkit-focus-ring-color auto 5px

button.btn.btn-upload
  background: none
  border: 1px solid rgb(161, 161, 161)
  padding: 2px 10px
  border-radius: 2px
  line-height: 36px
  color: #4d585f
  font-size: 12px
  width: 100%
  background: #ffffff
  span
    display: block
    text-align: center
  &:hover
    background: #fff
