%icon
  content: ''
  display: inline-block
  vertical-align: middle

[class*=icon-], [class*=icon-]:focus, [class*=icon-]:hover,
  &:before
[class*=svg-], [class*=svg-]:focus, [class*=svg-]:hover
  @extend %icon

+sprites($spritesheet-sprites)

[class*=svg-]
  // line-height: 10px

[class*=srv]
  &::before
    @extend %icon

=icon-circle($s,$c)
  width: $s
  height: $s
  background-color: $c
  border-radius: 50%
  &:before
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

svg[class*=icon-]
  // fill: black
  &.red
    fill: red


