nav(aria-label="Page navigation example")
  ul.pagination.justify-content-center
    li.page-item
      a.page-link.page-link-prev(href="#")
        i.page-prev
    li.page-item
      a.page-link.current(href="#") 1
    li.page-item
      a.page-link(href="#") 2
    li.page-item
      a.page-link(href="#") 3
    li.page-item
      a.page-link(href="#") 4
    li.page-item
      a.page-link(href="#") 5
    li.page-item
      a.page-link.page-link-next(href="#")
        i.page-next
