.modal(id="modalOrder" tabindex="-1" role="dialog" aria-labelledby="modalOrder" aria-hidden="true")
    .modal-dialog(role='document')
      .container
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
        .modal-content
          .modal-body
            h5.modal-title.mb-3.text-uppercase Запись на консультацию
            form(action="")
              .form-group
                input.form-control#t1(type="text", name="t1" placeholder="Ваше имя")
              .form-group
                input.form-control.phone#t2(type="text", name="t2" placeholder="Ваш телефон")
              .form-group
                button.btn.btn-green Отправить
