@import mixins/animation
@import mixins/button
@import mixins/center-block
@import mixins/circle
@import mixins/clearfix
@import mixins/flex
@import mixins/fonts
@import mixins/full-height
@import mixins/image-responsive
@import mixins/keyframes
@import mixins/media-query
@import mixins/nav-bar
@import mixins/placeholder
@import mixins/position
@import mixins/rem2px
@import mixins/size
@import mixins/decore

%bg
  background-color: white
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)

=font
  font-style: 14px
  line-height: 24px
  color: #666666

=lh($s)
  font-size: #{$s}px
  line-height: #{$s}px

=link($color: null)
  &:active, &:visited, &:link
    color: $color