=center-block
    display: block
    margin-left: auto
    margin-right: auto

=center-h($height)
    position: absolute
    top: 50%
    height: $height
    margin-top: -($height / 2)

=center-h--unk
    position: relative
    top: 50%
    transform: translateY(-50%)

=center-both
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)