=decore($padding,$icon)
  &::before,
  &::after,
  > *::before,
  > *::after
    @extend %icon
    +sprite($icon)
    position: absolute
    z-index: 9
  &::before
    top: $padding
    left: $padding
  &::after
    top: $padding
    right: $padding
    transform: rotate(90deg)
  > *::after
    bottom: $padding
    right: $padding
    transform: rotate(180deg)
  > *::before
    bottom: $padding
    left: $padding
    transform: rotate(270deg)

=decore2($padding,$icon,$icon2)
  &::before,
  &::after,
  > *::before,
  > *::after
    @extend %icon
    position: absolute
  &::before
    top: $padding
    left: $padding
    +sprite($icon)
  &::after
    top: $padding
    right: $padding
    +sprite($icon2)
  > *::after
    bottom: $padding
    right: $padding
    transform: rotate(180deg)
    +sprite($icon)
  > *::before
    bottom: $padding
    left: $padding
    +sprite($icon2)
    transform: rotate(180deg)