=full-height
  // html,
  // body
      // height: 100%
  body
    .wrap
      height: auto !important
      height: 100%
      min-height: 100%

    .content
      padding: 0 0 ($footer-height)

    footer
      width: 100%
      position: relative
      z-index: 998
      margin: (-$footer-height) auto 0
      min-height: $footer-height


