=nav-bar($w: 30, $h: 22, $lh: 3, $color: #fff, $bd: true, $anm: true, $pos: relative)
  display: inline-block
  width: $w+px
  height: $h+px
  position: $pos
  @if $bd == true
    border: 1px solid $color
  &::before, &::after
    content: ''
  &::before, &::after,  i
    position: absolute
    left: 0
    display: block
    width: 100%
    height: $lh+px
    background: $color
  &::before
    top: 0
  &::after
    bottom: 0
  &::before,
  &::after
    transition: transform .3s linear
  i
    top: 50%
    margin-top: -($lh/2)+px
    transition: .3s linear

  @if $anm == true
    &:hover
      &::before
        transform: rotate(45deg) translate3d(8px,0px,0)
        margin-top: 1px
      &::after
        transform: rotate(-45deg) translate3d(8px,0px,0)
        margin-bottom: 2px

      i
        opacity: 0
