=position($type, $top: null, $right: null, $bottom: null, $left: null)
    position: $type
    top: $top
    right: $right
    bottom: $bottom
    left: $left

// example
// .box
//     +position(absolute, 10px, 10px, 10px, 10px)
