.s-top
  position: relative
  margin-top: -200px

  article
    padding-top: 100px
    +max(pad)
      padding-top: 0

  h1
    color: $color-green
    font-size: 48px
    line-height: 50px
    font-weight: 300

  .block__img
    position: relative
    right: 20px
    +max(pad)
      right: 50px

    +max(w576)
      display: flex
      align-items: flex-end
      height: 100%

  &--about
    .block__img
      right: 170px

      +max(pad)
        right: 50px

    .s-top__text
      +max(w767)
        display: none

.s-top__text
  color: $color-article
  font-size: 16px
  h4
    font-weight: 700
    font-size: 16px
    margin-bottom: 20px
    color: $color-article


.s-order
  padding: 45px 0 25px 0
  border-top: 1px solid #4d9d9e
  background-image: url('../images/form-bg.jpg')
  background-repeat: repeat-x
  background-size: cover
  background-position: center 0
  form
    label
      line-height: 16px
    .form-control
      font-size: 13px
      font-style: italic
      &.phone
        font-size: 14px
        padding: 8px 10px
    textarea
      min-height: 190px
      box-sizing: border-box
      font-style: italic
      font-size: 13px
[class*=s-info]
  article
    p
      color: #ffffff

.s-info-0
  padding: 90px 0 70px
  h2
    font-size: 48px
    line-height: 54px
    font-weight: 300
    margin-bottom: 50px
    color: #424446
  h3
    margin-bottom: 20px
    font-size: 30px
    line-height: 36px
    color: $color-green
  ul
    margin-left: 20px
    li
      padding-left: 20px
      position: relative
      margin-bottom: 10px
      line-height: 20px
      &:last-child
        margin-bottom: 0
      &:before
        content: ""
        display: inline-block
        width: 7px
        height: 7px
        background: $color-green
        position: absolute
        left: 0
        top: 8px
        border-radius: 50%


  .view
    margin-left: 20px
    a
      font-size: 14px
      text-decoration: underline
      &:hover
        text-decoration: none
        color: $color-green

.s-info-1
  background: #4d585f
  color: #ffffff
  h2
    color: $color-green
    font-weight: 300
    font-size: 30px
    line-height: 36px
    padding-bottom: 15px
    margin-bottom: 15px
    border-bottom: 1px solid #cdd0d2
  p
    line-height: 20px
    a
      color: #cdf9f9
      text-decoration: underline
      &:hover
        text-decoration: none

  .more
    a
      color: #fff
      text-decoration: underline
      font-size: 14px
      &:hover
        text-decoration: none

.s-carousel
  background: #626e76
  color: #ffffff
  a
    color: #ffffff
    font-weight: 300
    font-style: italic

.s-history
  h2
    font-size: 48px
    line-height: 52px
    font-weight: 300
  .see-all
    a
      color: #424447
      text-decoration: underline
      &:hover
        text-decoration: none

.content
  .s
    p, li
      font-size: 16px
      line-height: normal
