.s-steps
  overflow: hidden
  h2
    font-size: 36px
    line-height: 50px
    margin-bottom: 40px
  .slider
    margin-bottom: 45px
    .item
      height: 600px
      position: relative
      img
        position: relative
        z-index: 0
        margin: 0 auto
      .caption
        box-sizing: border-box
        padding: 40px 50px
        position: absolute
        z-index: 1
        top: 50%
        left: 0
        background: #183650
        font-size: 48px
        line-height: 60px
        font-weight: 700
        display: flex
        flex-direction: column
        justify-content: center
        transform: translateY(-50%)
        font-family: $font700
        span
          color: #f7f7f7
          display: block
          position: relative


    .item.item-0
      .caption
        width: auto


.slider-points
  position: relative
  .line-desc
    height: 4px
    width: 100%
    background: #fff
    content: ""
    display: block
    position: absolute
    left: 0
    top: 35px
    span
      content: ""
      display: block
      position: absolute
      left: 0
      top: 0
      height: 4px
      background: #123750
      // transition: width 0.1s linear


  .item
    position: relative
    .point-icon
      width: 70px
      height: 70px
      background-color: white
      border-radius: 50%
      cursor: pointer
      position: relative
      z-index: 0
      svg
        position: absolute
        line-height: 0
        z-index: 1
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        fill: #00bcd4

      &:before
        top: 50%
        left: 50%
        z-index: 0
        position: absolute
        content: ''
        display: block
        width: 80px
        height: 80px
        border-radius: 50%
        transform: translate(-50%,-50%)
        background-color: #f85623
        opacity: 0


    .point-text
      width: 475px
      position: absolute
      bottom: calc(100% + 14px)
      left: 0
      visibility: hidden
      opacity: 0
      transition: opacity 0.4s linear
      z-index: 1
      &-inner
        background-color: white
        border-radius: 10px
        min-height: 160px
        box-shadow: 0 4px 50px rgba(24, 54, 80, 0.3)
        box-sizing: border-box
        width: 100%
        padding: 20px
        position: relative
        z-index: 3
      &:after
        content: ""
        display: block
        position: absolute
        bottom: -12px
        left: 24px
        width: 0
        height: 0
        border-style: solid
        border-width: 12px 12px 0 12px
        border-color: #fff transparent transparent transparent
        z-index: 4
      &.isOpen
        opacity: 1
        visibility: visible

      h5
        margin-bottom: 10px
        font-size: 18px
        line-height: 22px
        font-weight: 700
        color: #111111
      p, li
        font-size: 15px
        line-height: 24px
        color: #606060
        margin-bottom: 10px
        &:last-child
          margin-bottom: 0

      li
        padding-left: 15px
        position: relative
        &:before
          content: ""
          display: block
          width: 5px
          height: 5px
          position: absolute
          border-radius: 50%
          left: 0
          top: 8px
          background: #34ccff
      p
        line-height: 18px
        &:last-child
          margin-bottom: 0

    &.active
      .point-icon
        svg
          fill: #fff
        &:before
          opacity: 1

    &:nth-child(3),
    &:nth-child(4)
      .point-text
        transform: translateX(calc(-100% + 75px))
        &:after
          left: calc(100% - 50px)

.text-bottom
  font-family: $fonti
  font-size: 15px

.container-slider
  position: relative
  margin-left: 35px
  margin-right: 35px
  margin-top: 120px