.s-top
  min-height: 900px
  margin-top: -140px
  padding-top: 154px
  background-repeat: no-repeat
  background-position: center 0
  background-size: cover
  color: #ffffff

  h1
    color: #ffffff
  .h1_after
    font-size: 30px

  a.btn
    color: #ffffff
    border-color: #ffffff
    text-decoration: none
    border-radius: 5px
    padding: 10px 35px
    font-size: 16px
    &:hover
      background: #ffffff
      color: $color-blue

.module__helper
  .item__icon
    height: 158px
    position: relative
    cursor: pointer
    i
      position: absolute
      top: 50%
      left: 50%
      z-index: 1
      transform: translate(-50%,-50%)
      transition: transform 0.3s

    &:before
      content: ''
      @extend .svg-ico_bg::before
      position: absolute
      top: 50%
      left: 50%

      transform: translate(-50%,-50%)
      transition: transform 0.3s
      z-index: 0
  .item
    &:hover
      .item__icon
        &:before
          transform: translate(-50%,-50%) scale(0.8)
        i
          // transform: translate(-50%,-50%) scale(1.1)


.list__icons
  font-size: 20px
  font-family: $font600a
  color: #333333

  .item__icon
    height: 158px
    position: relative
    i
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      z-index: 1
      transition: 0.3s
    &:before
      content: ''
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      z-index: 0
      transition: 0.3s
  .item
    &:hover
      .item__icon
        &:before
          transform: translate(-50%,-50%) scale(0.8)
        i
          animation: bounce 0.5s infinite linear

  &--gray
    .item__icon
      &:before
        @extend .svg-ico_bg_g::before

.s-top-simple
  min-height: 656px
  margin-top: -220px
  padding-top: 224px
  box-sizing: border-box
  background-repeat: no-repeat
  background-position: center 0
  background-size: cover
  color: #ffffff

  h1
    color: #ffffff
    font-size: 40px
    line-height: 50px
    &.fz60
      font-size: 60px
      line-height: 70px

  .btn
    font-size: 16px
    padding-left: 30px
    padding-right: 30px

  .btn-border-white
    padding-top: 12px
    padding-bottom: 12px
    font-size: 18px

  article
    p
      font-size: 20px
      line-height: 30px