include ../helpers/_var
include ../helpers/bemto/bemto
include ../helpers/mixins/_mixins
- set_bemto_settings({'prefix':'uk-','element':'_', 'modifier': '-'})
doctype html
html(lang="ru")
  <!--<![endif]-->
  block link
    - var page = 'default'
    - var offset = '200'
    - var duration = '400'
    - var ease = 'linear'
  head
    block title
      title Page
    include ../layouts/base/_head
  // head
  body(class=page === 'class' ? '' : '' + page_class + '')
    .wrap
      .over
      .content
        .container
          .row
            .col-xl-8.col-lg-8#article
              .mr-5
              include ../layouts/base/_header
              //- nav
              block content
            .col-xl-4.col-lg-4.d-xl-block.d-lg-block.d-none(style="position: relative;")
              .sidebar.sidebar__right#sidebar
                block sidebar


    block footer
      include ../layouts/base/_footer
      script
        :coffee-script
          #№setTimeout (->
          #), 1200
          window.onload = ->
            AOS.init
              duration: 600
            return