include ../helpers/_var
include ../helpers/bemto/bemto
include ../helpers/mixins/_mixins
- set_bemto_settings({'prefix':'uk-','element':'_', 'modifier': '-'})
doctype html
html(lang="en")
  block link
    -var page = 'default'
  head
    block title
      title Page
    include ../layouts/base/_head-demo
    style.
      html, body, .wrap {
        height: 100%;
      }
      ul li a {
        color: #333 !important;
      }
  // head
  body(class=page === "default" ? "" : page style="background: #fff;")
    .wrap.d-flex.align-items-center.justify-content-center
      block content