include ../helpers/_var
include ../helpers/bemto/bemto
include ../helpers/mixins/_mixins
- set_bemto_settings({'prefix':'uk-','element':'_', 'modifier': '-'})
doctype html
html(lang="ru")
  <!--<![endif]-->
  block link
    - var page = 'default'
    - var offset = '200'
    - var duration = '400'
    - var ease = 'linear'
  head
    block title
      title Page
    include ../layouts/base/_head
  // head
  body(class=page === 'class' ? '' : '' + page_class + '')
    .wrap
      .over
      include ../layouts/base/_header
      //- nav
      block content

    block footer
      include ../layouts/base/_footer
      script
        :coffee-script
          #№setTimeout (->
          #), 1200
          window.onload = ->
            AOS.init
              duration: 600
            return