extends tmp/tmp-demo
block link
  - var page = 'demo'
  - var login = false
  - var page_title = 'DEMO'
block title
  title ANEURO - #{page_title}
block content
  -
    var pages = [
      {"name":"Главная","num":"0001"},
      {"name":"Детальная","num":"0002"},
      {"name":"Статьи","num":"0003"},
      {"name":"О себе","num":"0004"} 

    ]
  style.
    .list-pages {
      max-width: 1170px;
      width: 100%;
      margin: 0 auto;
      font-face: Arial;
    }
    .list-pages li {
      list-style: none;
    }
    .list-pages li a{
      text-decoration: none;
      white-space: nowrap;
      color: #00a1de;
      font-size: 15px;
    }

  .content.p-0
    .container
      ul.list-pages
        each item in pages
          li
            a(href="p"+item.num+".html")
              span!= item.num
              em.ml-1.mr-1 -
              strong!= item.name
