extends tmp/tmp-default
block link
  - var page = 'index'
  - var header = 'trans'
  - var page_class = 'main'
  - var login = false
  - var page_title = 'Главная'

block title
  title ANEURO - #{page_title}
block content
  .content
    .s.s-top
      .container
        .row.align-items-xl-end.align-items-lg-end
          .col-xl-5.col-lg-5.col-md-5.col-6
            article
              h1.mb-xl-4.mb-lg-4.mb-md-3.mb-sm-2.mb-1
                i Эффективное<br> нейрохирургическое<br> лечение
              ul.list.list__arrow.d-xl-block.d-lg-block.d-none.mb-0.pb-2
                li
                  i Диагностика и лечение заболеваний и<br> травм головного мозга, спинного мозга,<br> позвоночника
                li
                  i Хирургическое лечение при<br> новообразованиях
                li
                  i Широкий спектр современных минимально<br> инвазивных технологий в хирургии
                li
                  i Диагностика и лечение травм<br> периферической нервной системы
                li
                  i Индивидуальный подход в решении<br> вопросов тактики лечения

            .d-xl-none.d-lg-none.d-block
              +module("consult mb-xl-2 mb-lg-2 mb-md-3 mb-sm-2 mb-1")
                .box-order
                  a.text-nowrap(href="#")
                    i Запись на консультацию
                .box-shedule
                  i.text-nowrap с 8:00 до 24:00, без выходных
                .box-phone
                  i.text-nowrap +7 (909) 945 7812
                .box-email
                  a(href="#")
                    i.text-nowrap avg.avg03@gmail.com

              +module("name mb-xl-2 mb-lg-2 mb-md-3 mb-sm-2 mb-1")
                span.d-block.mb-xl-2.mb-lg-2.mb-md-2.mb-sm-2.mb-1
                  i Гаврюшин<br> Андрей<br> Владимирович
                a.d-block(href="#")
                  i Нейрохирург<br> Кандидат медицинских наук<br> Врач высшей категории

              +module("share")
                a(href="#")
                  i.inst
                a(href="#")
                  i.fb

          .col-xl-7.col-lg-7.col-md-7.col-6
            .block__img
              +img("m0","png")
    .s.s-order
      .container
        .d-xl-none.d-lg-none.d-block
          +module("nav nav-mobile")
            - let nav2 = ["О себе","Заболевания","Симптомы","Контакты","Лечение","Отзывы"]
            ul.row.no-gutters.mb-0.pb-1
              each item,i in nav2
                li.col-xl-4.col-lg-4.col-md-4.col-sm-4.col-6
                  a.border(href="#")!= item



        .row.align-items-center
          .col-xl-6.col-lg-5.order-xl-0.order-lg-0.order-1
            .list__services
              .item.row.align-items-center.pb-xl-2.mb-xl-5.mb-lg-5.mb-3
                .col-xl-2.col-lg-2.col-2
                  .item__left
                    i.icon-1
                .col-xl-10.col-lg-10.col-10
                  .item__right.pl-2
                    h3.mb-1
                      i Клинические базы<br> ФГБУ НИИ НХ Бурденко РАМН 7
                    .item__address.mb-1
                      i Москва, 4-я Тверская-Ямская, д.16
                    .more
                      a(href="#")
                        i Читать подробно
              //- end item
              .item.row.align-items-center.pb-xl-2.mb-xl-5.mb-lg-5.mb-3
                .col-xl-2.col-lg-2.col-2
                  .item__left
                    i.icon-2
                .col-xl-10.col-lg-10.col-10
                  .item__right.pl-2
                    h3.mb-1
                      i Проведение исследований
                    .item__name.mb-1
                      i Лаборатория ФГБУ
                    .item__state.mb-1
                      i Центр хирургии мозга<br> им. Марковича А.В.
                    .more
                      a(href="#")
                        i Читать подробно
              //- end item
              .item.row.align-items-center
                .col-xl-2.col-lg-2.col-2
                  .item__left
                    i.icon-3
                .col-xl-10.col-lg-10.col-10
                  .item__right.pl-2
                    h3.mb-2
                      i Краткий словарь<br> медицинских терминов
                    .more
                      a(href="#")
                        i Читать подробно
              //- end item
          .col-xl-6.col-lg-7.mb-xl-0.mb-lg-0.mb-3.d-xl-block.d-lg-block.d-md-block.d-none
            +module("order pt-2 pl-2 pr-2 pb-xl-0 pb-2")
              form
                .d-flex.justify-content-between.module__top.mb-2
                  h3
                    i Запись на прием
                  i.d-xl-block.d-lg-block.d-md-block.d-none Москва, 4-я Тверская-Ямская, д.16
                .row.align-items-center.mb-xl-2.mb-lg-2.mb-md-2.mb-1
                  .col-xl-4
                    label.mb-1.d-xl-block.d-lg-block.d-md-block.d-none(for="l1")
                      i Ваше имя
                  .col-xl-8
                    input.form-control.w-100.rounded(type="text" placeholder="Семенович Степанида Изольдовна")
                .row.align-items-center.mb-xl-2.mb-lg-2.mb-md-2.mb-1
                  .col-xl-4
                    label.mb-1.d-xl-block.d-lg-block.d-md-block.d-none(for="l2")
                      i Ваш телефон
                  .col-xl-8
                    input.form-control.w-100.rounded.phone(type="text" placeholder="+7 (495) 495 36 78")
                .row.align-items-center.mb-xl-2.mb-lg-2.mb-md-2.mb-1
                  .col-xl-4
                    label.mb-1.d-xl-block.d-lg-block.d-md-block.d-none(for="l3")
                      i Ваш e-mail
                  .col-xl-8
                    input.form-control.w-100.rounded(type="text")
                .row.align-items-center.mb-xl-2.mb-lg-2.mb-md-2.mb-1
                  .col-xl-4
                    label.mb-1(for="l4")
                      i Ссылка на ваши материалы
                  .col-xl-8
                    input.form-control.w-100.rounded(type="text")
                .form-group.mb-1
                  textarea.form-control.w-100.rounded Опишите вашу проблему
                .form-group.mb-0
                  .row
                    .col-xl-6
                      .form-group.mb-0
                        button.upload.btn.btn-upload(type="button" tabindex="-1")
                          span Загрузить ваши материалы
                        span.js-upload
                          input.file(type='file' data-multiple-caption="выбрано {count} шт. файлов" multiple)
                          label.mt-1.mb-0(for="file")
                            span

                    .col-xl-6
                      button.btn.btn-green.w-100 Записаться на прием
          //- mobile versions
          .col-12.mb-3.d-xl-none.d-lg-none.d-md-none.d-block
            +module("order pt-2 pl-2 pr-2 pb-xl-0 pb-2")
              form
                .d-flex.justify-content-between.module__top.mb-2
                  h3
                    i Запись на прием
                .align-items-center.mb-xl-2.mb-lg-2.mb-md-2.mb-1
                  input.form-control.w-100.rounded(type="text" placeholder="Ваше имя")
                .align-items-center.mb-xl-2.mb-lg-2.mb-md-2.mb-1
                  input.form-control.w-100.rounded.phone(type="text" placeholder="Ваш телефон")
                .align-items-center.mb-xl-2.mb-lg-2.mb-md-2.mb-1
                  input.form-control.w-100.rounded(type="text" placeholder="Ваш e-mail")
                .align-items-center.mb-xl-2.mb-lg-2.mb-md-2.mb-1
                  input.form-control.w-100.rounded(type="text" placeholder="Ссылка на ваши материалы")
                .form-group.mb-1
                  textarea.form-control.w-100.rounded Опишите вашу проблему
                .form-group.mb-0
                  button.upload.btn.btn-upload(type="button" tabindex="-1")
                    span Загрузить ваши материалы
                  span.js-upload
                    input.file(type='file' data-multiple-caption="выбрано {count} шт. файлов" multiple)
                    label.mt-1.mb-0(for="file")
                      span
                .form-group.mb-0
                  button.btn.btn-green.w-100 Записаться на прием
    .s.s-info-0
      .container
        .row
          .col-xl-7.col-lg-7
            h2
              i Заболевания и лечение
            .block__list.mb-xl-1.pb-xl-3.pb-lg-3.pb-2
              h3
                i Головной мозг
              ul.list
                li
                  i Опухоли головного мозга и его оболочек
                li
                  i Опухоли костей и основания черепа
                li
                  i Артериовенозные мальформации  и кавернозные ангиомы
                li
                  i Аневризма сосудов головного мозга
                li
                  i Невралгия тройничного нерва и лицевой гемиспазм
              .view
                a(href="#")
                  i Смотреть весь список
            .block__list
              h3
                i Позвоночник и спинной мозг
              ul.list
                li
                  i Опухоли спинного мозга (экстрамедуллярные<br> и интрамедуллярные) и его оболочек
                li
                  i Кавернозные ангиомы спинного мозга
                li
                  i Межпозвоночная грыжа
                li
                  i Стеноз позвоночного канала
                li
                  i Фасеточный болевой синдром

              .view
                a(href="#")
                  i Смотреть весь список

          .col-xl-5.col-lg-5.d-xl-block.d-lg-block.d-none
            +img("img0").img-fluid

    //- end s
    //- start s
    .s.s-info-1
      .container
        .row.align-items-end
          .col-xl-5.col-lg-5.d-xl-block.d-lg-block.d-none
            +img("img1").img-fluid
          .col-xl-7.col-lg-7
            .pt-3.pl-2
              .block__tabs
                ul.d-flex.flex-wrap
                  li.pr-1
                    a.btn(href="#")
                      i Заболевание
                  li.pr-1
                    a.btn(href="#")
                      i Симптомы
                  li
                    a.btn(href="#")
                      i Лечение

              h2
                i Удаление межпозвонковой грыжи  с имплантацией искусственного<br> диска M6
              article.pb-3
                p
                  i Искусственный межпозвонковый диск - это наиболее технически продвинутая система, предназначенная для стабилизации сегмента позвоночника в тех операциях, где требуется удаление дегенерированного межпозвонкового диска. В большинстве случаев это операции по удалению межпозвонковой грыжи.
                p
                  i Диск имеет <a href="#">амортизирующее</a> ядро из поликарбонат-уретана, фиброзное кольцо из полиэтилена и титановые пластины со специальным напылением, стимулирующим прорастание костной ткани для надежной фиксации диска в телах позвонков.
                p
                  i Наиболее важное отличие <a href="#">М6</a> от предыдущих поколений эндопротезов состоит в том, что он обеспечивает восстановление движений в позвоночном сегменте в объеме,
                .more
                  a(href="#")
                    i Читать дальше
    //- end s
    //- start s
    .s.s-carousel.pt-xl-4.pt-lg-4.pt-md-4.pt-sm-4.pb-4
      .container
        .carousel.carousel-0
          - for (var x = 0; x < 2; x++)
          a.item.d-block(href="#")
            span.d-block.item__video
              +img("v0").img-fluid.w-100
            span.d-block.item__name Техника операции по установке эндопротеза M6-L
          a.item.d-block(href="#")
            span.d-block.item__video
              +img("v1").img-fluid.w-100
            span.d-block.item__name Конструкция эндопротеза межпозвонкового шейного диска М6-C
          a.item.d-block(href="#")
            span.d-block.item__video
              +img("v2").img-fluid.w-100
            span.d-block.item__name Сравнение человеческого диска и эндопротеза диска М6
    //- end s
    //- start s
    .s.s-history.pt-xl-4.pb-xl-3.pt-lg-4.pb-lg-3.pt-3.pb-3
      .container.pt-xl-1.pb-xl-1.pt-lg-1.pb-lg-1
        h2.mb-xl-4.mb-lg-4.mb-3
          i Истории и отзывы пациентов
        -
          let histories = [
          {"name":"Новоселцев Максим","status":"Профессиональный фотограф"},
          {"name":"Сенцова светлана","status":"Флорист"},
          {"name":"Новоселцев Максим","status":"Учитель начальных классов"},
          {"name":"Новоселцев Максим","status":"Рестовратор"}
          ]
        .carousel.carousel-history
          - for (var x = 0; x < 2; x++)
          each item,i in histories
            a.item.d-block(href="#")
              span.d-block.item__img
                +img("h"+i).img-fluid.w-100
              span.d-block.item__text
                span.d-block.item__name
                  i!= item.name
                span.d-block.item__status
                  i!= item.status

        .see-all.pt-xl-4.pt-lg-4.pt-3
          a(href="#")
            i Смотреть остальные
    //- end s

block append footer
  include layouts/modal/_base
