extends tmp/tmp-inner
block link
  - var page = 'detail'
  - var header = 'trans'
  - var page_class = 'detail'
  - var login = false
  - var page_title = 'Подробная страница'

block title
  title ANEURO - #{page_title}

block content
  include pages/_p0002

block sidebar
  .block__bg.pt-2
    +module("name mb-1")
      span.mb-1
        i Гаврюшин<br> Андрей<br> Владимирович
      a(href="#")
        i Нейрохирург<br> Кандидат медицинских наук<br> Врач высшей категории
      .pt-1
        i.d-arrow

    +module("share pb-4")
      a(href="#")
        i.inst
      a(href="#")
        i.fb

  +module("nav mb-2")
    h3 Заболевания и лечение
    nav
      .block__nav
        h4 Головной мозг
        ul
          each item, i in NAVSIDE1
            li(class=i === 1 ? "current":"")
              a!= item
      .line.mt-3.mb-3
      .block__nav
        h4 Позвоночник и спинной мозг
        ul
          each item, i in NAVSIDE2
            li
              a!= item

  +module("form")
    h3.mb-2 Запись на прием
    form(action="#")
      .form-group
        input.form-control.error(type="text" placeholder="Ваше имя")
      .form-group
        input.form-control(type="tel" placeholder="Ваш телефон")
      .form-group
        input.form-control(type="email" placeholder="Ваш e-mail")
      .form-group
        input.form-control(type="text" placeholder="Ссылка на ваши материалы")
      .form-group
        textarea.form-control(placeholder="Опишите вашу праблему")
      .form-group.mb-0
        .d-block
          button.upload.btn.btn-upload.d-flex.align-items-center(type="button" tabindex="-1")
            i.icon-down.mr-1
            span Загрузить ваши материалы
        .d-block
          span.js-upload
            input.file(type='file' data-multiple-caption="выбрано {count} шт. файлов" multiple)
            label.mt-xl-0.mt-lg-0.mt-md-0.mt-sm-0.mt-1(for="file")
              span

      .form-group.mb-0
        button.btn.btn-green Записаться на прием


block append footer
  include layouts/modal/_base