extends tmp/tmp-inner
block link
  - var page = 'detail'
  - var header = 'trans'
  - var page_class = 'detail'
  - var login = false
  - var page_title = 'Подробная страница'

block title
  title ANEURO - #{page_title}

block content
  article
    h1.mb-3 Лечение
    .blog__sw.mb-3
      ul.row.no-gutters
        li.col.current
          a.d-block.text-center(href="#") Головной мозг
        li.col
          a.d-block.text-center(href="#") Позвоночник и спинной мозг

    .list__blog.mb-2
      //-
      .item.mb-1
        .row
          .col-3.d-flex.flex-column.justify-content-center.align-items-center
            a.d-block.item__photo(href="#")
              +img("img_b1")
          .col-9
            .item__text
              h3
                a(href="#") Артерио-венозные мальформации
              p.mb-0 Врожденный сложный сосудистый порок развития.<br> Образование представляет собой клубок сосудов, напрямую связывяющий артериальную и венозную системы и, таким образом, шунтирующий часть крови минуя мозговое вещество.<br>АВМ могут проявляться внутримозговыми кровоизлияниями или ...
      //-
      //-
      .item.mb-1
        .row
          .col-3.d-flex.flex-column.justify-content-center.align-items-center
            a.d-block.item__photo(href="#")
              +img("img_b2")
          .col-9
            .item__text
              h3
                a(href="#") Черепно-мозговая травмы головы, перелом черепа, ушибы и отеки головного мозга
              p.mb-0 Основные принципы классификации: тяжесть (лёгкая черепно-мозговая травма, черепно-мозговая травма средней тяжести, тяжёлая черепно-мозговая травма), сочетанность (изолированная, сочетанная, комбинированная), вид повреждения ...
      //-
      //-
      .item.mb-1
        .row
          .col-3.d-flex.flex-column.justify-content-center.align-items-center
            a.d-block.item__photo(href="#")
              +img("img_b3")
          .col-9
            .item__text
              h3
                a(href="#") Межпозвоночная грыжа<br> (грыжа межпозвонкового диска)
              p.mb-0 Межпозвоночная грыжа (межпозвонковая грыжа, грыжа межпозвоночного диска, грыжа позвоночника) - это смещение (выпячивание) фрагмента ядра межпозвоночного диска в спинномозговой канал, вследствие чего происходит сдавливание ...
      //-
      //-
      .item.mb-1
        .row
          .col-3.d-flex.flex-column.justify-content-center.align-items-center
            a.d-block.item__photo(href="#")
              +img("img_b4")
          .col-9
            .item__text
              h3
                a(href="#") Кавернозные ангиомы
              p.mb-0 Разновидность сосудистых мальформаций, формирующихся в различных отделах головного и спинного мозга. Эти образования обычно четко отграничены от окружающих тканей и представляют собой совокупность сосудистых полостей различных размеров и формы, содержащих продукты распада крови...
      //-
      //-
      .item.mb-1
        .row
          .col-3.d-flex.flex-column.justify-content-center.align-items-center
            a.d-block.item__photo(href="#")
              +img("img_b5")
          .col-9
            .item__text
              h3
                a(href="#") Эпилепсия
              p.mb-0 Эпилепсия - это болезнь, возникающая в результате чрезмерной патологической электрической активности отдельных частей головного мозга, что приводит к периодическим судорожным припадкам. Припадки могут быть различными. Некоторые люди просто застывают на месте на несколько секунд, у других же ...
      //-
      //-
      .item.mb-1
        .row
          .col-3.d-flex.flex-column.justify-content-center.align-items-center
            a.d-block.item__photo(href="#")
              +img("img_b6")
          .col-9
            .item__text
              h3
                a(href="#") Спондилолистез
              p.mb-0 Смещение (соскальзывание) одного из позвонков относительно нижележащего вперед (антеролистез) или назад (ретролистез). Спондилолистез наиболее часто встречается в шейном и поясничном отделах позвоночника, обладающих большей подвижностью и испытывающих наибольшую вертикальную ...
      //-
      //-
      .item.mb-1
        .row
          .col-3.d-flex.flex-column.justify-content-center.align-items-center
            a.d-block.item__photo(href="#")
              +img("img_b7")
          .col-9
            .item__text
              h3
                a(href="#") Грыжа межпозвоночного диска в поясничном отделе
              p.mb-0 Позвоночник человека состоит из позвонков, между которыми расположены межпозвоночные диски. Межпозвоночные диски дают возможность позвоночнику двигаться и обеспечивают его амортизацию, смягчая нагрузку. Межпозвоночный диск состоит из жесткого внешнего фиброзного кольца и мягкого внутреннего ...
      //-
      //-
      .item.mb-1
        .row
          .col-3.d-flex.flex-column.justify-content-center.align-items-center
            a.d-block.item__photo(href="#")
              +img("img_b8")
          .col-9
            .item__text
              h3
                a(href="#") Аномалия Арнольда-Киари
              p.mb-0 Врачи подразделяют синдром (аномалию) Арнольда-Киари на 3 типа, в зависимости от структуры ткани головного мозга, которая перемещается в позвоночный канал, и от наличия патологии развития головного или спинного мозга.<br> Многие пациенты, страдающие синдромом Киари, не имеют ...
      //-
      //-
      .item.mb-1
        .row
          .col-3.d-flex.flex-column.justify-content-center.align-items-center
            a.d-block.item__photo(href="#")
              +img("img_b9")
          .col-9
            .item__text
              h3
                a(href="#") Стеноз позвоночного канала
              p.mb-0 Хронический процесс, характеризующийся патологическим сужением центрального позвоночного канала, латерального кармана или межпозвонкового отверстия костными, хрящевыми и мягкоткаными структурами, с вторжением их в пространства, занимаемые нервными корешками и спинным мозгом. Стеноз может быть в ...
      //-
    include layouts/components/_paginations
block sidebar
  .block__bg.pt-2
    +module("name mb-1")
      span.mb-1
        i Гаврюшин<br> Андрей<br> Владимирович
      a(href="#")
        i Нейрохирург<br> Кандидат медицинских наук<br> Врач высшей категории
      .pt-1
        i.d-arrow

    +module("share pb-4")
      a(href="#")
        i.inst
      a(href="#")
        i.fb

  +module("news mb-2 mt-3")
    .item.d-flex.align-items-center
      .pr-2
        i.icon-1
      div
        h3
          a(href="#") Клинические базы ФГБУ НИИ НХ Бурденко РАМН 7
        p Москва, 4-я Тверская-Ямская, д.16
        a.link-more(href="#") Читать подробно
    .item.d-flex.align-items-center
      .pr-2
        i.icon-2
      div
        h3
          a(href="#") Проведение иследований
        p Лаборатогия ФГБУ<br> Центр хирургии мозга<br> им. Марковича А.В.
        a.link-more(href="#") Читать подробно
    .item.d-flex.align-items-center
      .pr-2
        i.icon-3
      div
        h3
          a(href="#") Клинические базы ФГБУ НИИ НХ Бурденко РАМН 7
        p Москва, 4-я Тверская-Ямская, д.16
        a.link-more(href="#") Читать подробно

  +module("form")
    h3.mb-2 Запись на прием
    form(action="#")
      .form-group
        input.form-control.error(type="text" placeholder="Ваше имя")
      .form-group
        input.form-control(type="tel" placeholder="Ваш телефон")
      .form-group
        input.form-control(type="email" placeholder="Ваш e-mail")
      .form-group
        input.form-control(type="text" placeholder="Ссылка на ваши материалы")
      .form-group
        textarea.form-control(placeholder="Опишите вашу праблему")
      .form-group.mb-0
        .d-block
          button.upload.btn.btn-upload.d-flex.align-items-center(type="button" tabindex="-1")
            i.icon-down.mr-1
            span Загрузить ваши материалы
        .d-block
          span.js-upload
            input.file(type='file' data-multiple-caption="выбрано {count} шт. файлов" multiple)
            label.mt-xl-0.mt-lg-0.mt-md-0.mt-sm-0.mt-1(for="file")
              span

      .form-group.mb-0
        button.btn.btn-green Записаться на прием

block append footer
  include layouts/modal/_base