{{#hasMixin}}@mixin {{mixinName}}
	background: url("{{{sprite}}}") no-repeat

{{#hasCommon}}.{{commonName}}
	@include {{mixinName}}


{{/hasCommon}}{{/hasMixin}}{{^hasMixin}}{{#hasCommon}}.{{/hasCommon}}{{^hasCommon}}%{{/hasCommon}}{{commonName}}
	background: url("{{{sprite}}}") no-repeat
	content: ''
	display: inline-block


{{/hasMixin}}{{#shapes}}{{#selector.shape}}{{expression}}{{^last}},
{{/last}}{{/selector.shape}}::before
		{{^hasCommon}}{{#hasMixin}}@include {{mixinName}}{{/hasMixin}}
		{{^hasMixin}}@extend %{{commonName}}{{/hasMixin}}
		{{/hasCommon}}background-position: {{position.relative.xy}}{{#dimensions.inline}}
		width: {{width.outer}}px
		height: {{height.outer}}px{{/dimensions.inline}}
{{#dimensions.extra}}

{{#selector.dimensions}}{{expression}}{{^last}},
{{/last}}{{/selector.dimensions}}::before
		width: {{width.outer}}px
		height: {{height.outer}}px
{{/dimensions.extra}}

{{/shapes}}

{{#shapes}}
.svg-icon-{{base}}::before
		width: {{width.outer}}px
		height: {{height.outer}}px
{{/shapes}}