%svg-common
	background: url("../svg/sprite.svg") no-repeat
	content: ''
	display: inline-block


.svg-arr::before
		
		@extend %svg-common
		background-position: 76.53061224489795% 39.361702127659576%
		width: 17px
		height: 13px

.svg-ico0::before
		
		@extend %svg-common
		background-position: 63.31856228458887% 0
		width: 58.9px
		height: 74px

.svg-ico1::before
		
		@extend %svg-common
		background-position: 29.004789781798827% 0
		width: 74.1px
		height: 73.7px

.svg-ico2::before
		
		@extend %svg-common
		background-position: 0 0
		width: 54.5px
		height: 75.6px

.svg-ico3::before
		
		@extend %svg-common
		background-position: 0 50.39999999999999%
		width: 74px
		height: 51px

.svg-ico4::before
		
		@extend %svg-common
		background-position: 99.73404255319149% 0
		width: 74px
		height: 74px

.svg-ico5::before
		
		@extend %svg-common
		background-position: 0 99.68503937007874%
		width: 71.7px
		height: 74px


.svg-icon-arr::before
		width: 17px
		height: 13px
.svg-icon-ico0::before
		width: 58.9px
		height: 74px
.svg-icon-ico1::before
		width: 74.1px
		height: 73.7px
.svg-icon-ico2::before
		width: 54.5px
		height: 75.6px
.svg-icon-ico3::before
		width: 74px
		height: 51px
.svg-icon-ico4::before
		width: 74px
		height: 74px
.svg-icon-ico5::before
		width: 71.7px
		height: 74px
