article
  h1.mb-3 Аневризма<br> головного мозга
  .pr-xl-2.pr-lg-2
    .block__gray.block__gray--shadow.mb-xl-5.mr-xl-5.mb-lg-5.mr-lg-5.mb-3
      ul.row.list.list__arrow.list__arrow--col
        li.pb-2.col-xl-6.col-lg-6.col-md-6
          span Общие сведения
        li.pb-2.col-xl-6.col-lg-6.col-md-6
          span Этиология
        li.pb-2.col-xl-6.col-lg-6.col-md-6
          span Разновидности
        li.pb-2.col-xl-6.col-lg-6.col-md-6
          span Симптомы
        li.pb-2.col-xl-6.col-lg-6.col-md-6
          span Осложнения
        li.pb-2.col-xl-6.col-lg-6.col-md-6
          span Диагностика
        li.pb-2.col-xl-6.col-lg-6.col-md-6
          span Лечение
        li.pb-2.col-xl-6.col-lg-6.col-md-6
          span Профилактика

  h2.pb-2.mb-2.border-bottom
    i Общие сведения
  .float-xl-right.float-lg-right.float-md-right.float-sm-right.mr-xl-5.mr-lg-5.mb-xl-0.mb-lg-0.mb-md-0.mb-sm-0.mb-2.text-center
    +img("img_a0")
  p
    span.big <strong>Аневризма сосудов головного мозга</strong> —<br> патологическое образование в артериях мозга,<br> проявляющееся расширением или выпячиванием<br> стенки сосуда.
  p «Излюбленная» локализация аневризм – в местах<br> разветвления артерий в основании черепа:
  ul.list.list__marker
    li проходящая интракраниально часть внутренней<br> сонной артерии,
    li средняя и передняя мозговые артерии,
    li базилярная артерия.

  blockquote В группу риска входят люди средней и старшей возрастных групп,<br> у детей обнаруживается относительно редко.<br> Более подвержены женщины, чем мужчины.

  p Долгое время может не вызывать клинических симптомов, если сдавление окружающих тканей мозга незначительно. В этой ситуации обнаружение аневризмы – случайная диагностическая находка.
  p После установления диагноза пациент обязательно должен регулярно наблюдаться у врача для оценки динамики неврологических симптомов и прогрессирования самого патологического образования. Поскольку диагностика аневризмы, не осложненной разрывом, затруднена из-за отсутствия жалоб, точные эпидемиологические данные по распространенности среди населения оценить проблематично.
  p Тем не менее, статистика на сегодня свидетельствует, что <strong>аневризма встречается у 10-12 человек на 100 000 населения</strong>.<br> Грозным осложнением является разрыв стенки аневризмы, что приводит к внутричерепному кровоизлиянию (чаще наблюдается субарахноидальное реже – в ткани мозга).
  blockquote
    | Кровоизлияния несут в себе угрозу не только здоровью,<br> но и жизни человека. В случае разрыва аневризмы медицинское вмешательство должно быть оказано безотлагательно<br>в специализированном медицинском учреждении.
  p
    strong Оценить реальную угрозу жизни вследствие разрыва аневризмы можно на основании следующих статистических данных:
  .row.mb-2
    .col-xl-6.col-lg-6.order-xl-0.order-lg-0.order-1
      ul.list.list__marker
        li при субарахноидальном кровоизлиянии<br> <strong>около 10% </strong>больных умирают еще до того,<br> как им успевают оказать первую<br> медицинскую помощь;
        li <strong>около 25%</strong> людей умирают в первые сутки;
        li <strong>до 49%</strong> погибают в течение трех месяцев<br> после развившегося внутричерепного<br> кровоизлияния;
        li общая частота летального исхода<br> после разрыва аневризмы сосудов<br> головного мозга достигает <strong>69%</strong>.
    .col-xl-6.col-lg-6.order-xl-1.order-lg-1.order-0.text-center
      +img("img_a1").img-fluid

  h2.mb-2.pb-2.border-bottom Этиология
  p
    span.big Считается, что факторы, способствующие развитию аневризмы можно разделить на две группы – врожденные и приобретенные.

  .row.mb-xl-5.mb-lg-5.mb-3
    .col-xl-6.col-lg-6.col-md-6.d-flex.mb-xl-0.mb-lg-0.mb-md-0.mb-1
      .block__gray.w-100
        p
          strong Врожденные факторы
          br
          | имеют генетическую природу. Они приводят к морфологическим изменениям тканей стенки сосуда, ее ослаблению и истончению, что, в свою очередь, проявляется пролабированием стенки с развитием патологического образования.
        p
          strong К таким врожденным причинам можно отнести:
          ul.list.list__marker
            li наследственные заболевания соединительной ткани (синдром Элерса-Данлоса),
            li Синдром Марфана,
            li врожденный поликистоз почек,
            li коарктация (сужение) аорты,
            li артериовенозная мальформация и ряд других.
    .col-xl-6.col-lg-6.col-md-6.d-flex
      .block__gray.w-100
        p
          strong Приобретённых факторов
          br
          | достаточно много и они связаны с образом жизни, привычками и сопутствующими заболеваниями.

          | <strong>Ведущей причиной являются черепно-мозговые травмы</strong>, которые могут вызывать расслоение сосудистой стенки. Также значимую роль играют <strong>перенесённые инфекции</strong> (например, воспаление мозговых оболочек – менингит, инфекционный эндокардит, нелеченный сифилис), которые приводят к поражению стенок сосудов головного мозга.

        p
          strong Называются в качестве причин развития аневризм:
        ul.list.list__marker
          li артериальная гипертония,
          li опухоли головного мозга, атеросклероз сосудов
          li головного мозга,
          li курение,
          li употребление наркотиков (особенно кокаина),
          li алкоголизация,
          li радиоактивное облучение.

  h2.mb-2.pb-2.border-bottom Разновидности
  .row.mb-3
    .col-xl-5.col-lg-5.col-md-5.col-sm-5.text-center.mb-xl-0.mb-lg-0.mb-md-0.mb-sm-0.mb-2
      +img("img_a2").img-fluid
    .col-xl-7.col-lg-7.col-md-7.col-sm-7
      p.fz16.mb-1
        strong По форме аневризмы сосудов мозга делятся на:
      ul.fz16.list.list__marker
        li.mb-1 мешотчатые – однокамерные или многокамерные;
        li.mb-1 расслаивающие, располагающиеся
        li.mb-1 между слоями стенки сосуда;
        li.mb-1 веретенообразные в виде увеличения диаметра артерии на ограниченном участке.
  .row.mb-3
    .col-xl-5.col-lg-5.col-md-5.col-sm-5.text-center.mb-xl-0.mb-lg-0.mb-md-0.mb-sm-0.mb-2
      +img("img_a3").img-fluid
    .col-xl-7.col-lg-7.col-md-7.col-sm-7
      p.fz16.mb-1
        strong По размерам аневризмы бывают:
      ul.fz16.list.list__marker
        li.mb-1 милиарные — до 3 мм;
        li.mb-1 малые – до 10 мм;
        li.mb-1 среднего размера – до 15 мм;
        li.mb-1 большие – 16-25 мм;
        li.mb-1 очень большие – более 25 мм.
  .row.mb-3
    .col-xl-5.col-lg-5.col-md-5.col-sm-5.text-center.mb-xl-0.mb-lg-0.mb-md-0.mb-sm-0.mb-2
      +img("img_a4").img-fluid
    .col-xl-7.col-lg-7.col-md-7.col-sm-7
      p.fz16.mb-1
        strong По месту возникновения различают аневризмы:
        ul.fz16.list.list__marker
          li.mb-1 передней мозговой артерии;
          li.mb-1 средней мозговой артерии;
          li.mb-1 задней мозговой артерии;
          li.mb-1 сонной артерии;
          li.mb-1 базилярной артерии;
          li.mb-1 мозжечковых артерий.

  h2.mb-2.pb-2.border-bottom Симптомы
  .row.mb-2
    .col-xl-8.col-lg-8.col-md-8.col-sm-8.order-xl-0.order-lg-0.order-md-0.order-sm-0.order-1
      p.fz16 Как мы уже говорили, долгое время никакой симптоматики может не наблюдаться, особенно при незначительных размерах аневризмы и отсутствии ее роста.
      p.fz16 Крупные патологические сосудистые образования, тем более имеющие тенденцию к росту, вызывают компрессию тканей мозга, что и обусловливает развитие неврологической картины, нарушая качество жизни пациента и заставляя обратиться к специалисту.
      p.fz16 Конкретные жалобы и объективные симптомы заболевания зависят от локализации аневризмы, в т.ч. расположенных в зоне давления важных структур мозга.
    .col-xl-4.col-lg-4.col-md-4.col-sm-4.text-center.order-xl-1.order-lg-1.order-md-1.order-sm-1.order-0.mb-xl-0.mb-lg-0.mb-md-0.mb-sm-0.mb-2
      +img("img_a5").img-fluid
  p.fz16
    strong Симптомы, сопровождающие аневризму сосудов головного мозга<br> крупного размера:
  .row.border-bottom-half.pb-xl-2.mb-xl-2.pb-lg-2.mb-lg-2.pb-md-2.mb-md-2
    .col-xl-6.col-lg-6.col-md-6
      ul.list__marker.fz16
        li.mb-1 болезненные ощущения в глазных яблоках;
        li.mb-1 снижение зрения;
        li.mb-1 снижение слуха;
        li.mb-1 онемение половины лица;
        li увеличение одного зрачка;
    .col-xl-6.col-lg-6.col-md-6
      ul.list__marker.fz16
        li.mb-1 односторонний парез мышц лица;
        li.mb-1 осиплость голоса;
        li.mb-1 головные боли;
        li.mb-1 бессонница или наоборот сонливость;
        li.mb-1 судороги.
  p.fz16
    strong Симптомы, которые зачастую предшествуют разрыву:
  .row.border-bottom-half.pb-xl-2.mb-xl-2.pb-lg-2.mb-lg-2.pb-md-2.mb-md-2
    .col-xl-6
      ul.list__marker.fz16
        li.mb-1 диплопия (двоение в глазах);
        li.mb-1 нарастающее головокружение;
        li шум в ушах;

    .col-xl-6
      ul.list__marker.fz16
        li.mb-1 нарушение речи;
        li.mb-1 снижение кожной чувствительности;
        li усиливающаяся слабость.
  p.fz16
    strong Симптомы, сопровождающие разрыв аневризмы сосудов головного мозга с развитием внутричерепного кровоизлияния:
  ul.list__marker.fz16.mb-3
    li.mb-1 внезапная и очень сильная головная боль;
    li.mb-1 возбуждение или угнетение психического состояния, в тяжелых случаях возможна потеря сознания;
    li.mb-1 односторонний парез мышц конечностей, дискоординация движений;
    li.mb-1 туман перед глазами, диплопия, птоз;
    li.mb-1 тошнота, рвота;
    li.mb-1 свето- и шумобоязнь;
    li.mb-1 менингеальные симптомы;
    li судороги.

  h2.mb-2.pb-2.border-bottom Осложнения
  .row.mb-xl-2.mb-lg-2.mb-2
    .col-xl-8.col-lg-8.col-md-8.col-sm-8.order-xl-0.order-lg-0.order-md-0.order-sm-0.order-1
      p.fz16.mb-2 Предсказать, когда произойдет разрыв аневризмы невозможно, а потому и последствия кровоизлияния могут быть весьма серьезными при отсутствии своевременной медицинской помощи.
      p.fz16.mb-2
        strong Летальность достигает 50% случаев.
      p.fz16 Стойкая инвалидизация наблюдается примерно у 25% пациентов с диагнозом аневризма сосудов головного мозга. В связи с тем, что наличие аневризмы грозит серьезными осложнениями, вплоть до летального исхода, врачи, как правило, настоятельно рекомендуют оперативное устранение проблемы.
    .col-xl-4.col-lg-4.col-md-4.col-sm-4.text-center.order-xl-1.order-lg-1.order-md-1.order-sm-1.order-0.mb-xl-0.mb-lg-0.mb-md-0.mb-sm-0.mb-2
      +img("img_a6").img-fluid
  p.fz16
    strong Осложнения аневризмы следующие:
  .row.mb-xl-3.mb-lg-3.mb-md-3.mb-1
    .col-xl-6.col-lg-6.col-md-6.col-sm-6
      ul.list__marker.fz16
        li.mb-1 геморрагический инсульт;
        li.mb-1 формирование тромба;
        li.mb-1 ишемический инсульт (при сдавлении тканей растущей аневризмой или при отрыве сформировавшегося в полости аневризмы тромба);
        li коматозное состояние;
    .col-xl-6.col-lg-6.col-md-6.col-sm-6
      ul.list__marker.fz16
        li.mb-1 гидроцефалия;
        li.mb-1 отёк мозга;
        li.mb-1 нарушения речи и движения;
        li.mb-1 эпилепсия;
        li поведенческие и эмоциональные нарушения.

  h2.mb-2.pb-2.border-bottom Диагностика
  p.fz16 Как уже было сказано, до разрыва или сдавливания близлежащих нервов растущим образованием установление диагноза аневризмы чаще всего носит случайный характер.
  p.fz16 И только после развития такого жизнеугрожающего осложнения, как разрыв с внутричерепным кровоизлиянием, пациент направляется в специализированное медицинское учреждение, где и проводится полный комплекс диагностических и лечебных процедур.

  p.fz16
    strong Методы инструментальной диагностики:
  ul.fz16.list__marker.mb-xl-3.mb-lg-3.mb-md-3.mb-1
    li.mb-1 <span class="color">ангиография</span> – рентгенологическое исследование с введением в сосудистое русло контрастного вещества. Метод позволяет с высокой точностью определить место разрыва аневризмы;
    li.mb-1 <span class="color">компьютерная томография (КТ) головного мозга</span> – позволяет идентифицировать не только локализацию аневризмы, но и  объем поражённых окружающих тканей;
    li.mb-1 <span class="color">КТ-ангиография</span> – совмещение двух вышеуказанных методов;
    li.mb-1 <span class="color">магнитно-резонансная томография (МРТ) головного мозга</span> – метод диагностики, позволяющий получать двух- и трехмерные изображения головного мозга, а совмещение с ангиографией (МРТ-ангиография) дает возможность обнаружить место разрыва аневризмы;
    li <span class="color">исследование спинальной жидкости</span>.

  .mb-xl-5.mb-lg-5.mb-md-3.mb-2
    +img("img_a7").img-fluid.w-100

  h2.mb-2.pb-2.border-bottom Лечение
  p.fz16 <strong>Аневризма сосудов головного мозга</strong> – серьезное заболевание, при котором показано лечение в условиях профильного нейрохирургического учреждения.
  p.fz16.mb-2 До разрыва аневризмы и при её незначительных размерах пациент самостоятельно принимает решение, какой вид терапии выбрать – оперативное или консервативное вмешательство, на основании консультации врача с всесторонней оценкой имеющихся рисков и прогнозов обеих методик.
  blockquote.mb-2 Безусловно, самым эффективным и радикальным методом терапии является хирургическое вмешательство. Но, как и любая инвазивная манипуляция, метод несет в себе и риски для пациента.
  p.fz16.mb-3 Консервативная терапия не устраняет причину, а потому назначается в основном для стабилизации состояния больного (в т.ч. в период предоперационной подготовки), коррекции сопутствующей патологии (например, артериальной гипертензии, ухудшающей прогноз оперативного вмешательства).

  p.fz16
    strong Существуют два основных варианта оперативного лечения аневризм:
  .row.mb-2
    .col-xl-6.col-lg-6.col-md-6.col-sm-6.flex-column.d-xl-flex.d-lg-flex.d-md-flex.d-sm-flex.d-block.mb-xl-0.mb-lg-0.mb-md-0.mb-sm-0.mb-1
      .block__gray.w-100
        p.pb-1 <strong>Клипирование аневризмы</strong> –<br> открытая операция на головном<br> мозге, в процессе которой устанавливают специальный микрозажим (металлическую клипсу)<br> на шейку аневризмы в месте её отхождения от несущей артерии,<br> что позволяет устранить кровоток<br> в образовании и предотвратить<br> разрыв.
      .text-center
        +img("img_a8").img-fluid.w-100
    .col-xl-6.col-lg-6.col-md-6.col-sm-6.flex-column.d-xl-flex.d-lg-flex.d-md-flex.d-sm-flex.d-block
      .block__gray.w-100
        p.pb-1 <strong>Эндоваскулярная терапия</strong> – малоинвазивная методика, при<br> которой осуществляется внутрисосудистое вмешательство<br> под контролем рентгеновского оборудования. В просвет аневризмы вводят микроспираль для выключения ее из кровотока несущей артерии.<br> Данный способ лечения применяется также и после разрыва аневризмы.
      .text-center
        +img("img_a9").img-fluid.w-100

  p.fz-16 Вид и объем хирургического вмешательства аневризмы сосудов головного мозга определяется нейрохирургом на основании целого ряда параметров у конкретного пациента - размер аневризмы, ее локализация, сдавление прилегающих тканей, наличие сопутствующих заболеваний и факторов интраоперационного риска и ряда других.

  p.fz-16 Послеоперационный период в обязательном порядке подразумевает комплекс реабилитационно-восстановительных мероприятий с привлечением профильных специалистов – неврологов, реабилитологов, физиотерапевтов, нейропсихологов, логопедов.

  h2.mb-2.pb-2.border-bottom Профилактика
  p.fz16 Профилактика приобретенной аневризмы и особенно ее разрыва, как наиболее угрожаемого осложнения, включает ряд неспецифических мер, таких как:
  ul.list__marker.fz16
    li.mb-1 отказ от вредных привычек - курения и алкоголя;
    li.mb-1 контроль артериального давления;
    li.mb-1 физическая активность;
    li.mb-1 соблюдение назначенной врачом диеты;
    li.mb-1 избегание травм головного мозга;
    li.mb-1 прохождение регулярных медицинских осмотров;
    li.mb-0 строгое следование схемам терапии сопутствующих заболеваний.
  p.fz16.mb-2 Но, безусловно, радикальным методом профилактики разрыва аневризмы остается оперативное вмешательство.
  +img("img_a10").img-fluid.w-100
  .block__back.pt-xl-5.pb-xl-5.pt-lg-5.pb-lg-5.pt-md-3.pb-md-3.pt-2.pb-2
    a(href="#") &laquo; <span>назад к списку статей</span>
