header
  .module__consult
    .box-order
      text-decoration: underline
    .box-shedule
      font-size: 14px
    .box-phone
      font-size: 18px
    .box-email
      font-size: 12px

  .module__name
    span
      font-size: 18px
      display: block
      line-height: 23px
    a
      font-size: 12px
      display: block
      line-height: 16px


.module__order
  background: #ffffff
  font-size: 13px
  border-radius: 4px
  box-shadow: 1.5px 2.598px 9px 0px rgba(10, 79, 86, 0.18),inset -0.682px -0.731px 5px 0px rgba(255, 255, 255, 0.19)

  h3
    font-size: 18px
    font-weight: 600

.module__share
  a
    margin-right: 5px
    display: inline-block

.module__name
  position: relative
  margin-top: -10px
  font-size: 18px
  line-height: 18px
  span
    display: block
  a
    font-size: 12px
    display: block
    line-height: 16px


.sidebar
  .module__nav
    padding: 20px 15px

header
  .module__nav
    .row
      margin-left: -2.5px
      margin-right: 2.5px
    [class*=col]
      padding-left: 2.5px
      padding-right: 2.5px
      margin-bottom: 5px



.module__news
  padding: 35px 30px
  background: url('../images/nav_bg.jpg') 0 100%
  color: $color-text
  border-radius: 4px
  font-style: italic
  font-size: 11px
  box-shadow: 1.5px 2.598px 9px 0px rgba(10, 79, 86, 0.18),inset -0.682px -0.731px 5px 0px rgba(255, 255, 255, 0.19)


  a
    color: $color-text
  p
    margin-bottom: 5px

  h3
    font-size: 13px
    font-weight: 600
    margin-bottom: 5px

  .item
    margin-bottom: 40px
    &:last-child
      margin-bottom: 0

    .link-more
      text-decoration: none
      border-bottom: 1px solid rgba(97,105,114,.5)
      &:hover

        border-bottom-color: rgba(97,105,114,0)
