.module__search
  i.lupe
    line-height: 0
.module__share
  a.link-share
    display: inline-block
    vertical-align: middle
    width: 36px
    height: 36px
    border-radius: 3px
    margin-right: 10px
    position: relative
    &-twitter
      background-color: #00a8f1
    &-facebook
      background-color: #3756a0
    &-vk
      background-color: #41668e
    svg
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      fill: #fff
    &:hover
      opacity: 0.8

footer
  .module__copyright
    p
      font-size: 14px
      line-height: 24px
      margin-bottom: 18px
      &:last-child
        margin-bottom: 0
      span
        font-size: 16px
  .module__nav
    ul
      margin-bottom: 0
    li
      padding-left: 20px
      padding-right: 20px
      &:first-child
        padding-left: 0
      &:last-child
        padding-right: 0
    a
      position: relative
      text-decoration: none
      font-size: 20px
      color: #ffffff
      &:after
        content: ""
        height: 1px
        width: 0
        position: absolute
        bottom: 0
        left: 0
        background: rgba(255,255,255,0.5)
        transition: 0.3s linear
      &:hover
        text-decoration: none
        &:after
          width: 100%

  .module__phone
    font-size: 20px
    font-family: $font600b

  .module__geo
    position: relative
    padding-left: 30px
    [class*=svg]
      position: absolute
      top: 0
      left: 0
    span
      font-size: 16px
