header
  .module__logo
    img
      max-width: 240px
  .module__nav
    a
      text-decoration: none
      font-size: 20px

  .module__contacts
    span
      font-family: $font600b
      font-size: 20px
      line-height: 20px
    i
      display: inline-block
      width: 16px
      margin-right: 6px
      text-align: center

    .module__row--email
      span
        font-size: 16px
        font-family: $font