.module__consult
  background-image: url('../images/consult-bg.jpg')
  background-repeat: no-repeat
  background-size: cover
  color: #ffffff
  border-radius: 5px
  .module-top
    font-size: 18px
    line-height: 27px
    font-family: $font600
    margin-bottom: 10px
  h4
    color: #ffffff
    font-size: 15px
    margin-bottom: 15px

  .form-control
    border-radius: 26px
    a
      color: #fff

  .icheckbox
    top: 0
    background: none
    border: 1px solid #fff
    &.checked
      border-color: $color-red

  .btn-red
    padding: 12px 25px
    border-radius: 26px
    font-size: 16px

  .form-group-check
    margin-bottom: 10px
    color: #ffffff
    a
      color: #ffffff
      +link(#fff)
      text-decoration: none
      background: url("../images/line-w.png") repeat-x 0 100%

  .block__phone
    strong
      font-size: 20px

.module__blog
  border: 1px solid #fff
  ul
    li
      padding-left: 25px
      margin-bottom: 12px
      position: relative
      &:last-child
        margin-bottom: 0
      &:before
        content: ""
        display: inline-block
        +sprite($arrow-marker)
        position: absolute
        left: 2px
        top: 6px

      a
        text-decoration: none
        +link(#555)
        color: #555555
        &:hover
          color: $color-red
          text-decoration: none
      &.current
        a
          color: $color-red
          text-decoration: none

  h3
    font-size: 20px
    position: relative
    i
      position: absolute
      right: 20px
      top: 50%
      line-height: 0
      margin-top: -2px
  +max(pad)
    ul
      li
        padding: 8px 20px
        margin-bottom: 0
        &:before
          display: none
        &.current
          background: #eb3d35
          a
            color: #ffffff
            +link(#fff)

    &.active
      border-color: $color-red
      h3
        padding-bottom: 10px
        border-bottom: 1px solid $color-red
        i
          transform: rotate(-180deg)
