// start footer
footer.footer.d-flex.flex-column.justify-content-between
  // start container
  .container
    //- i.plus-logo
    .row
      .col-xl-6.col-lg-6.col-md-6.footer__left
        .row.justify-content-between
          .col-xl-5.col-lg-6
            +module("name")
              h3.mb-2
                i Гаврюшин<br> Андрей<br> Владимирович
              .box-status.mb-2
                i Нейрохирург, кандидат<br> медицинских наук,<br> врач высшей категории.
              +module("contacts mb-2 d-xl-none d-lg-none d-md-none d-block")
                .box-address.mb-1
                  i Москва,<br> Варшавское шоссе, дом 135
                .box-phone.mb-1
                  i +7 (909) 945 7812
                .box-phone
                  i info@nairobt.ru
              .box-copyright
                i &copy; 2013 <strong>Andrey GV</strong>
          .col-xl-5.col-lg-6.d-xl-block.d-lg-block.d-none
            +module("abmulator pr-xl-4 pr-lg-4")
              h3.mb-2
                i Лечение
              ul
                li.mb-2
                  a(href="#")
                    i Головной мозг
                li.mb-2
                  a(href="#")
                    i Позвоночник и спинной мозг
                li
                  a(href="#")
                    i Периферическая нервная система

      .col-xl-6.col-lg-6.col-md-6
        .row
          .col-xl-6.col-lg-6.footer__right.d-xl-block.d-lg-block.d-none
            +module("base pl-xl-3 pr-xl-3 pl-lg-3 pr-lg-3")
              h3.mb-2
                i Клинические базы
              ul
                li.mb-2
                  a(href="#")
                    i ФГБУ НИИ НХ Бурденко<br> РАМН 7
                li
                  a(href="#")
                    i Управление делами Президента  РФ ФГБУ «Клиническая больница №1»
          .col-xl-6.col-lg-6.footer__right--right.d-xl-block.d-lg-block.d-md-block.d-none.mb-2
            +module("contacts pl-xl-3 pr-xl-3 pl-lg-3 pr-lg-3 pl-md-2")
              h3.mb-2
                i Контакты
              .box-address.mb-2
                i Москва,<br> Варшавское шоссе, дом 135
              .box-phone.mb-2
                i +7 (909) 945 7812
              .box-phone
                i info@nairobt.ru

  // end container
// end footer

script(src="js/plugins/jquery.mCustomScrollbar.concat.min.js")
script(src="js/plugins/jquery.mousewheel.min.js")
script(src="js/plugins/jquery.malihu.PageScroll2id.js")
script(src="js/plugins/stiky.js")
script(src="js/range.js")
script
  :coffee-script
    $('.scrollTo').mPageScroll2id
      offset: 100
    $('#sidebar').stickySidebar
      # topSpacing: 0
      bottomSpacing: 20
