if page == 'index'
  header.d-xl-block.d-lg-block.d-none
    .container
      .row.no-gutters.justify-content-between
        .col-xl-7.col-lg-7
          .row.no-gutters
            .col-xl-8.col-lg-8
              +module("nav")
                - let nav = ["О себе","Заболевания","Симптомы","Контакты","Лечение","Отзывы"]
                ul.row.no-gutters
                  each item,i in nav
                    li.col-xl-4.col-lg-4
                      a.border(href="#")!= item

            .col-xl-4.col-lg-4.mb-xl-0.mb-lg-0.mb-md-0.mb-1
              +module("consult pl-1")
                .box-order
                  a.text-nowrap(href="#" data-toggle="modal" data-target="#modalOrder")
                    i Запись на консультацию
                    i.arrow-bottom.ml-1
                .box-shedule
                  i.text-nowrap с 8:00 до 24:00, без выходных
                .box-phone
                  i.text-nowrap +7 (909) 945 7812
                .box-email
                  a(href="#")
                    i.text-nowrap avg.avg03@gmail.com

        .col-xl-2.col-lg-2
          +module("name mb-2")
            span.mb-1
              i Гаврюшин<br> Андрей<br> Владимирович
            a(href="#")
              i Нейрохирург<br> Кандидат медицинских наук<br> Врач высшей категории
            i.arrow-bottom

          +module("share")
            a(href="#")
              i.inst
            a(href="#")
              i.fb

else
  header
    .container
      .row
        .col-xl-8.col-lg-8.col-md-8.col-sm-8.d-xl-block.d-lg-block.d-md-block.d-sm-block.d-none
          +module("nav")
            - let nav = ["О себе","Заболевания","Симптомы","Контакты","Лечение","Отзывы"]
            ul.row.no-gutters
              each item,i in nav
                li.col-xl-4.col-lg-4.col-md-4.col-sm-4
                  a.border(href="#")!= item

        .col-xl-4.col-lg-4.col-md-4.col-sm-4.mb-xl-0.mb-lg-0.mb-md-0.mb-3
          +module("consult pl-xl-2 pl-lg-2 pl-md-2")
            .box-order
              a.text-nowrap(href="#" data-toggle="modal" data-target="#modalOrder")
                i Запись на консультацию

            .box-shedule
              i.text-nowrap с 8:00 до 24:00, без выходных
            .box-phone
              i.text-nowrap +7 (909) 945 7812
            .box-email
              a(href="#")
                i.text-nowrap avg.avg03@gmail.com
