block meta
  meta(charset="utf-8")
  meta(content="IE=edge" http-equiv="X-UA-Compatible")
  meta(content="" name="keywords")
  meta(content="" name="description")
  meta(content="telephone=no" name="format-detection")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

block styles

  +styles(
    'style.css'
  )

block favicon
  link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
  link(href="apple-touch-icon.png" rel="apple-touch-icon")

block js
