block meta
  meta(charset="utf-8")
  meta(content="IE=edge" http-equiv="X-UA-Compatible")
  meta(content="" name="keywords")
  meta(content="" name="description")
  meta(content="telephone=no" name="format-detection")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no")

block styles
  +styles(
    'aoc.css',
    'fancybox.min.css',
    'jquery.mCustomScrollbar.min.css',
    'style.css'
  )

block favicon
  link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
  link(href="apple-touch-icon.png" rel="apple-touch-icon")

block js
  +scripts(
    'base/svg4everybody.min.js',
    'base/jquery.min.js',
    'base/tether.min.js',
    'base/popper.min.js',
    'base/bootstrap.min.js',
    'plugins/slick.js',
    'plugins/fancybox.min.js',
    'plugins/nouislider.min.js',
    'plugins/wnumb.js',
    'plugins/mask.js',
    'plugins/select2.full.min.js',
    'plugins/icheck.min.js',
    'plugins/aoc.js',
    'plugins/stiky.js'
  )


  script(src="./js/main.js")


  <!--[if lt IE 9]>
    link(rel="stylesheet" href="css/ie.css")
    script(type="text/javascript" src="js/base/html5.js")
    script(type="text/javascript" src="js/base/modernizr.js")
    script(type="text/javascript" src="js/base/selectivizr.js")
    script(type="text/javascript" src="js/base/respond.js")
  <![endif]-->

  script.
    svg4everybody()