.mobile__main
  .container
    nav
      ul
        li.active
          a(href="#") Продукция
          span.openSubnav: i.arrow-close
          ul
            li: a(href="") Газы и жидкие газы
            li.active: a(href="") Тара и оборудование
            li: a(href="") Криогенное оборудование
            li: a(href="") Газосварка
            li: a(href="") Электросварка
            li: a(href="") Средства защиты
            li: a(href="") Инструмент и абразив
        li
          a(href="#") О компании
          span.openSubnav: i.arrow-close
        li
          a(href="#") доставка
          span.openSubnav: i.arrow-close
        li
          a(href="#") Услуги
          span.openSubnav: i.arrow-close
        li
          a(href="#") Вопрос-ответ
          span.openSubnav: i.arrow-close
        li
          a(href="#") Контакты
          span.openSubnav: i.arrow-close

//- end