p
  strong Пример SEO текста.
p ООО «Астринсплав СК» является металлургическим предприятием с полным циклом: от литья до получения готовых изделий повышенной готовности из сплавов БрХ1, БрХ1Цр и БрНХК(ф), который используется в качестве замены сплавов БрНБТ и МКБ.
p Располагая оборудованием для прессования, проката, волочения ООО «Астринсплав СК» имеет возможность поставлять сплавы в виде прутков, поковок, профилей, полос, лент, проволоки, готовых электродов и частей машин для контактной сварки любых типов.