+module("consult p-2")
  .module-top
    .text-center Вы можете получить бесплатную консультацию по интересующему Вас вопросу
  form(action="" method="method")
    h4.text-center: span Просто заполните форму
    .form-group
      input.form-control.name(type="text" placeholder="Ваше имя")
    .form-group
      input.form-control.phone(type="tel" placeholder="Номер телефона")
    .form-group.form-group-check
      input.iCheck#ch-c(type="checkbox", name="ch-c" checked)
      label(for="ch-c")
        | Я соглашаюсь с <a href="#">политикой конфиденциальности</a>.
    .form-group.text-center
      button.btn.btn-red.w-100
        span Получить консультацию
    .block__phone.text-center
      span.d-block или позвоните нам:
      strong.b-block
        span 8 (812) 335-55-16
