if page != 'blog'
  +module("consult p-2 mb-3")
    .module-top
      .text-center Вы можете получить бесплатную консультацию по интересующему Вас вопросу
    form(action="" method="method")
      h4.text-center: span Просто заполните форму
      .form-group
        input.form-control.name(type="text" placeholder="Ваше имя")
      .form-group
        input.form-control.phone(type="tel" placeholder="Номер телефона")
      .form-group.form-group-check
        input.iCheck#ch-c(type="checkbox", name="ch-c" checked)
        label(for="ch-c")
          | Я соглашаюсь с <a href="#">политикой конфиденциальности</a>.
      .form-group.text-center
        button.btn.btn-red.w-100
          span Получить консультацию
      .block__phone.text-center
        span.d-block или позвоните нам:
        strong.b-block
          span 8 (812) 335-55-16

if page == 'blog'
  +module("blog mb-3 bg-white p-2 rounded")
    h3.mb-2
      span Темы статей
    ul
      li
        a(href="#") Советы
      li
        a(href="#") Информация
      li
        a(href="#") Госты и ТУ
      li
        a(href="#") Категория новостей
      li
        a(href="#") Категория новостей

if module_order == true
  +module("order")
    p.fz-18.mb-1
      span Изготовим
    p.fz-36.mb-3
      strong Мебель для ванной
    p.fz-18.mb-1
      span по Вашим размерам за
    p.fz-36.mb-4
      strong 15 дней

    a.btn.btn-red.fz-24.w-100(href="#" data-toggle="modal" data-target="#modalOrder")
      | Заказать
