.s-banner
  padding: 20px 0 20px 0
  border-top: 1px solid #4d9d9e
  background-image: url(../images/form-bg.jpg)
  background-repeat: repeat-x
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  background-position: center 0
  margin-bottom: 45px
  +max(w767)
    margin-bottom: 30px

  .logo-icon
    +max(w767)
      display: none


.s-banner__left
  display: flex
  align-items: center
  padding: 0 50px
  margin: 0
  color: $color-article
  font-size: 14px
  font-weight: 400
  font-style: italic
  border-left: 1px solid $color-hippie-blue
  min-height: 80px

  +max(pad)
    border: none
    min-height: auto

  +max(w767)
    padding: 0

  span
    display: inline-block
    color: white
    font-size: 48px
    font-weight: 700
    margin-left: 15px

    +max(w767)
      font-size: 34px

.s-banner__wrap
  display: flex
  align-items: center
  padding: 0 50px
  border-left: 1px solid $color-hippie-blue
  border-right: 1px solid $color-hippie-blue
  min-height: 80px

  +max(pad)
    border: none
    min-height: auto

  +max(w767)
    padding: 0


.s-banner__right
  font-style: italic
  color: $color-article
  font-size: 18px
  font-weight: 700
  margin-left: 20px

  +max(w767)
    font-size: 18px
    margin-left: 0

  span
    display: block
    font-size: 14px
    color: $white
