.block__tabs
  a.btn
    min-width: 125px
    border-style: solid
    border-width: 1px
    border-color: rgb(97, 125, 130)
    border-radius: 2px
    box-shadow: 0.669px 0.743px 3px 0px rgba(0, 0, 0, 0.23)
    color: #c6f0f1
    text-align: left
    padding: 6px 18px
    font-size: 14px
    &:hover
      background: $color-green
      color: #ffffff

.block__back
  a
    color: #4d585f
    font-size: 14px
    text-decoration: none
    span
      text-decoration: underline
    &:hover
      span
        text-decoration: none
