.slider,
.carousel
  position: relative
  .slick-arrow
    position: absolute
    display: block
    z-index: 2
    top: 90px
    margin-top: -20px
    cursor: pointer
    border-style: solid
    border-width: 0
    border-color: rgb(231, 231, 231)
    border-radius: 50%
    width: 22px
    height: 42px
    &.slick-prev
      left: -35px
    &.slick-next
      right: -35px
    i
      position: absolute
      top: 50%
      left: 50%
      line-height: 0
      margin-top: -8px
      margin-left: -7px


  .slick-dots
    display: flex !important
    justify-content: center
    padding: 30px 0 0 0
    margin-bottom: 0
    button
      font-size: 0
      color: rgba(0,0,0,0)
      width: 13px
      height: 13px
      border-radius: 50%
      background: none
      border: none
      position: absolute
      border: 1px solid #bec3c6
      top: 0
      left: 0


    li
      margin-left: 6px
      margin-right: 6px
      height: 13px
      width: 13px
      position: relative
      &.slick-active
        button
          border-color: #fff
          background: #fff

.carousel-0
  font-size: 14px
  .slick-list
    margin-left: -15px
    margin-right: -15px
  .slick-arrow
    &.slick-prev
      margin-left: -15px
    &.slick-next
      margin-right: -15px
  .item
    padding-left: 15px
    padding-right: 15px
    &__name
      padding: 15px 8px 0


.s-history
  .carousel
    margin-left: -15px
    margin-right: -15px
    .slick-list
      margin-left: 10px
      margin-right: 10px
    .slick-dots
      button
        border-color: #424447
        &:hover
          border-color: #424447
          background: #424447
      li.slick-active
        button
          border-color: #424447
          background: #424447

    .item
      padding-left: 5px
      padding-right: 5px
      &__text
        padding: 15px 8px
      &__name
        font-size: 18px
        font-weight: 300
        i
          color: $color-text
      &__status
        font-size: 14px
        color: #34c9c9



.carousel-spectrum
  .slick-dots
    padding-top: 14px

.carousel-spectrum__item.slick-slide
  display: flex
  flex-wrap: wrap
  margin: 0 -4px

.carousel-spectrum__img
  flex: 0 0 33.3333%
  max-width: 33.3333%
  padding: 0 4px 8px

  img
    width: 100%
