.list
  &__blog
    .item
      background: #f8f8f8
      &__text
        padding: 12px 15px 12px 0
      h3
        margin-bottom: 10px
        padding-bottom: 10px
        border-bottom: 1px solid #cad1d6
        font-size: 18px
        a
          &:hover
            color: $color-text
            text-decoration: none

  &__arrow
    li
      //padding-left: 42px
      position: relative
      font-size: 16px
      line-height: 22px
      color: #575757
      margin-bottom: 20px
      //&:before
        content: ""
        display: inline-block
        +sprite($m1)
        position: absolute
        left: 0
        top: 2px
      i
        font-style: italic
    &--col
      li
        padding-left: 15px
        margin-bottom: 0
        &:before
          display: none
        span
          position: relative
          &:before
            content: ""
            display: inline-block
            +sprite($m1)
            position: absolute
            left: 0
            top: 2px

  &__marker
    li
      padding-left: 20px
      margin-bottom: 20px
      position: relative
      &:before
        content: ""
        display: block
        width: 7px
        height: 7px
        background: $color-green
        border-radius: 50%
        position: absolute
        top: 7px
        left: 4px

      &:last-child
        margin-bottom: 0

  &__services
    font-size: 14px
    line-height: 18px
    a
      color: #4d585f
      text-decoration: underline
      &:hover
        text-decoration: none

    h3
      font-size: 18px
      line-height: 22px
      font-weight: 600


.list__item
  display: flex

.list__box
  font-size: 16px
  margin-bottom: 20px

  &--left
    max-width: 125px
    width: 100%
    flex-shrink: 0
    margin-right: 15px

  &--right
    color: $color-green
    max-width: 275px
    width: 100%

  span
    display: block
    margin-bottom: 20px