.modal
  .close
    position: absolute
    top: 20px
    right: 20px
    width: 20px
    height: 20px
    opacity: 1
    &:before,
    &:after
      content: ""
      display: block
      width: 18px
      height: 1px
      background: #333
      position: absolute
      top: 50%
      left: 50%
    &:before
      transform: translate(-50%,-50%) rotate(-45deg)
    &:after
      transform: translate(-50%,-50%) rotate(45deg)
