.breadcrumb
  justify-content: center
  a
    font-size: 14px
    color: #666
    text-decoration: none
    position: relative
    &:after
      content: ''
      position: absolute
      bottom: 0
      height: 1px
      width: 100%
      position: absolute
      background: #e5e5e5
      left: 0
      bottom: 0
      transition: 0.3s
    &:hover
      &:after
        width: 0


  .breadcrumb-item
    + .breadcrumb-item
      &::before
        content: ''
        display: inline-block
        vertical-align: middle
        width: 0
        height: 0
        border-style: solid
        border-width: 2.5px 0 2.5px 5px
        border-color: transparent transparent transparent #666666
        margin-left: 12px

header.trans
  border-bottom: 1px solid rgba(255,255,255,0.2)
  + * .breadcrumb
    a
      color: #ffffff

    .breadcrumb-item
      + .breadcrumb-item
        &::before
          border-color: transparent transparent transparent #fff

ul.pagination
  li
    margin: 0 2px
  a
    text-decoration: none
    font-size: 16px
    color: #999999
    width: 40px
    height: 40px
    padding-top: 11px
    text-align: center
    box-sizing: border-box
    border-radius: 50%
    background: none

  .page-item
    &:last-child
      border-right: none

    &.active
      .page-link
        background-image: linear-gradient( 90deg, rgb(0,161,222) 0%, rgb(0,198,215) 100%)
        color: #ffffff
    .page-link
      &:hover
        background-image: linear-gradient( 90deg, rgb(0,161,222) 0%, rgb(0,198,215) 100%)


  .page-link
    .page-prev,
    .page-next
      width: 40px
      height: 40px
      display: inline-block
      vertical-align: middle
      position: relative
      padding-top: 0
      &:before
        display: none
      svg
        overflow: hidden
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)

  .page-item-prev,
  .page-item-next
    .page-link
      width: 40px
      height: 40px
      padding: 0
      &:hover
        background: none
        opacity: 0.6

.page-navigation
  a
    text-decoration: none
  .page-prev
    svg
      margin-right: 8px
  .page-next
    svg
      margin-left: 8px
      transform: rotate(180deg)