.product__card
  .block__params--row
    &.row-order
      a.btn
        padding-left: 35px
        padding-right: 35px
    &.row-order
      span
        color: #000000

    .block__phone
      i
        line-height: 0
      i, strong
        vertical-align: middle
        display: inline-block
      strong
        font-size: 24px
