.slider-content
  .item__inner
    position: relative
    img
      position: relative
      z-index: 0
    .item__caption
      background: rgba(255,255,255,.8)
      position: absolute
      bottom: 30px
      left: 100px
      z-index: 1
      width: calc(100% - 200px)
      border-radius: 4px
      font-size: 16px
      line-height: 24px
