.s-spectrum
  margin-bottom: 30px


.s-spectrum .carousel .slick-dots li.slick-active button
  border-color: #424447
  background: #424447




.s-spectrum__title
  font-size: 30px
  font-style: italic
  color: $color-green-light
  margin-bottom: 25px


.s-spectrum__item
  color: $color-grey-darken
  font-size: 16px
  font-style: italic
  margin-bottom: 10px
  padding-left: 20px
  position: relative

  &:before
    content: ''
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    border-radius: 50%
    width: 6px
    height: 6px
    background-color: $color-green-light


