.s-study
  //background-color: $color-grey-lighten
  padding: 45px 0

  &--reverse-bg
    background-color: $color-grey-lighten

.s-study__title
  color: $color-grey-darken
  font-size: 24px
  font-weight: 700
  font-style: italic
  margin-bottom: 50px

  +max(w767)
    font-size: 24px

.s-study__item
  display: flex
  flex-wrap: nowrap

  +max(w767)
    flex-wrap: wrap

  &:last-child
    .s-study__box
      margin-bottom: 0

.s-study__box
  font-size: 16px
  font-style: italic
  color: $color-grey-darken
  margin-bottom: 85px

  +max(w767)
    margin-bottom: 30px

  h4
    font-size: 16px
    font-weight: 700
    margin-bottom: 15px
    color: $color-grey-darken

  p
    font-size: 16px
    font-style: italic
    margin-bottom: 0

  li
    color: $color-grey-darken
    font-size: 16px
    font-style: italic
    margin-bottom: 10px
    padding-left: 20px
    position: relative

    &:before
      content: ''
      position: absolute
      left: 0
      top: 10px
      border-radius: 50%
      width: 6px
      height: 6px
      background-color: $color-green-light


.s-study__left
  max-width: 225px
  width: 100%
  margin-right: 20px
  flex-shrink: 0

  p
    font-size: 18px
    color: $color-green


.s-study__right
  max-width: 350px

  +max(pad)
    max-width: 100%

.s-study__sidebar
  background-color: $white
  padding: 40px

  +max(pad)
    padding: 20px

  +max(w767)
    display: flex
    flex-wrap: wrap
    justify-content: space-around

  +max(w480)
    display: block

  h4, p
    color: $color-grey-darken
    font-style: italic
    font-size: 16px
    line-height: 24px
    max-width: 200px

  h4
    font-weight: 700
    margin-bottom: 5px

  p
    margin: 0

.s-study__sidebar-item
  &:first-child
    margin-bottom: 85px

    +max(pad)
      margin-bottom: 30px
