.list__tab
  font-size: 16px
  .item
    color: $color-blue
    text-decoration: underline
    cursor: pointer
    position: relative
    .line
      position: absolute
      right: 0
      top: 0
      width: calc(100% - 120px)
      transform: translateX(calc(50% + 9px))
      height: 120px
      i
        position: absolute
        top: 50%
        left: 50%
        display: block
        height: 18px
        margin-top: -9px

    &__icon
      width: 120px
      height: 120px
      margin-left: auto
      margin-right: auto
      background: #ebf0f2
      border-radius: 50%
      position: relative
      transition: all 0.3s linear

      &:before
        content: ""
        display: block
        width: 108px
        height: 108px
        border: 2px solid #fff
        border-radius: 50%
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        z-index: 0
      i
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        z-index: 1
        transition: opacity 0.1s linear
        &:nth-child(2)
          opacity: 0
    &:hover
      text-decoration: none
      .item__icon
        background-image: linear-gradient( 90deg, rgb(0,198,215) 0%, rgb(0,161,222) 100%)

        i
          &:nth-child(1)
            opacity: 0
          &:nth-child(2)
            opacity: 1

      .item__text
        span
          text-decoration: none
          color: #333333
          color: #00a1de

  &--white
    .item__icon
      background: #ffffff
      &:before
        border-color: #ebf0f2