.mCSB_scrollTools.mCSB_scrollTools_horizontal
  .mCSB_draggerRail
    margin: 0
    height: 10px
    background: #ebf0f2
  .mCSB_dragger .mCSB_dragger_bar
    margin: 0
    height: 10px
    background: #00c6d7

.block__table
  position: relative
  .mCustomScrollBox
    // padding: 4px 4px 10px
  .mCSB_container
    // margin: 4px
    position: relative

table
  width: 100%
  border-radius: 5px
  box-shadow: 0 2px 8px rgba(0,0,0,0.2)


[class*=table]
  box-sizing: border-box
  th
    font-size: 16px
    line-height: 24px
    color: #fff
    background: #00c6d7
    padding: 20px
    box-sizing: border-box
    &:first-child
      border-radius: 5px 0 0 0
    &:last-child
      border-radius: 0 5px 0 0

  tbody
    tr
      &:last-child
        td
          &:first-child
            border-radius: 0 0 0 5px
          &:last-child
            border-radius: 0 0 5px 0


  td
    font-size: 16px
    color: #333333
    box-sizing: border-box
    padding: 20px
    background: #ffffff
    a
      color: #666666
      @extend %hover-gray
      &:hover
        color: $color-red

  tr
    td
      border-bottom: 1px solid #dcdcdc
    &:last-child
      td
        border-bottom: none
    &:hover
      td
        background: #fafafa

.table__tech
  table
    min-width: 860px
    th
      font-size: 14px