.s-works
  background-color: $color-grey-lighten
  padding: 45px 0

  +max(pad)
    br
      display: block

  +max(w767)
    br
      display: none

  .form-control
    padding: 5px 10px
    font-size: 13px
    border-color: #c1c8cc

    &:focus
      border-color: #a1a1a1
      background: #ffffff
      color: #111
    &.error
      border-color: #e27575

  button.btn.btn-upload
    display: flex
    line-height: 26px

    span
      margin-left: 10px

  button.btn-green
    padding: 8px 10px
    background-color: #34c9c9
    border-radius: 3px


  .module__order
    background-color: #f2fcfc

.s-works__title
  color: $color-grey-darken
  font-size: 16px
  font-weight: 700
  margin-bottom: 20px

.s-works__item
  display: flex
  flex-wrap: nowrap

  +max(w767)
    flex-wrap: wrap

  &:last-child
    .s-works__box
      margin-bottom: 0

.s-works__box
  font-size: 16px
  font-style: italic
  color: $color-grey-darken
  margin-bottom: 85px

  +max(w767)
    margin-bottom: 30px

  h4
    font-size: 16px
    font-weight: 700
    margin-bottom: 15px
    color: $color-grey-darken

  p
    font-size: 16px
    font-style: italic
    margin-bottom: 0

  li
    color: $color-grey-darken
    font-size: 16px
    font-style: italic
    margin-bottom: 10px
    padding-left: 20px
    position: relative

    &:before
      content: ''
      position: absolute
      left: 0
      top: 10px
      border-radius: 50%
      width: 6px
      height: 6px
      background-color: $color-green-light


.s-works__left
  max-width: 225px
  width: 100%
  margin-right: 20px
  flex-shrink: 0

  +max(w767)
    max-width: 100%

  p
    font-size: 18px
    color: $color-green


.s-works__right
  max-width: 350px

  +max(pad)
    max-width: 100%


