.btn:focus
  box-shadow: none

button, a
  cursor: pointer
button.btn,
a.btn
  text-decoration: none
  display: inline-block
  border-radius: 1px
  cursor: pointer
  &-green
    //background-color: #34c9c9
    background-color: $color-green
    color: #ffffff
    font-weight: 600
    font-size: 14px
    border: 1px solid #7ddcdc
    padding: 10px
    &:hover
      color: $color-green
      background: #ffffff
