mixin news(title,author,lessons,price)
  .item(class="uk-width-1-3@m")
    .item-inner
      .item-photo
        +img('patern','jpg','')
      .item-title
        != title
      .item-info
        .item-info_author
          != author
        .uk-flex.uk-flex-between.item-info_lessons
          .count
            strong
              != lessons
              i Lessons
          .price
            != price