mixin styles(...files)
  each file in files
    link(rel="stylesheet", href='./css/'+file+'')

mixin scripts(...files)
  each file in files
    script(src='./js/'+file+'')

mixin link(href, name)
  a(class!=attributes.class data!=attributes.data href=href)
    != name

mixin i(type, placeholder)
  input(class!=attributes.class type="type" placeholder=placeholder)

mixin btn(type, name)
  button(class!=attributes.class type=type)= name

mixin img(src, exe, cls, size)
  img(
    class!=attributes.class
    style!=attributes.style
    src= typeof exe != 'undefined' ? ''+is_img+''+src+'.'+exe : ''+is_img+''+src+'.jpg'
    alt=src
  )

mixin svg(svg,size,size2,cls)
  svg(class="icon-"+svg+" "+cls+"" width=size height=size2 viewBox="0 0 "+size+" "+size2+"")
    use(xlink:href="./svg/symbols.svg#"+svg)

mixin svgo(svg,width,height)
  svg(class="icon-"+svg width=width height=height viewBox="0 0 "+width+" "+height+"")
    use(xlink:href="./svg/sprite.svg#"+svg)

mixin list(id, ...items)
  ul(id=id)
    each item in items
      li= item

mixin link_svg_icon(cls, icon)
  a(class=cls href="#")
    i(class="svg-icon-" + icon)

mixin icon-share(icon,w,h)
  a(href="#")
    +svg(""+icon+"",w,h)

mixin icon(tag, icon, btn = true)
  if btn == true
    if tag == 'a'
      a.uk-icon.uk-icon-button(href="#" uk-icon="icon: "+icon)
    else if tag == 'span'
      span.uk-icon.uk-icon-button(uk-icon="icon: "+icon)
  else if tag == 'a'
    a.uk-icon(href="#" uk-icon="icon: "+icon)
  else if tag == 'span'
    span.uk-icon(uk-icon="icon: "+icon)
  else
    .uk-icon(uk-icon="icon: "+icon)

mixin rate(wo,wi,cls)
  span(class='rate-el '+cls+'' style='width: '+wo+'px')
    i(style='width: '+wi+'px')

mixin bread(num, db)
  nav.nav__breadcrumb(aria-label="breadcrumb")
    ol.breadcrumb
      each item,i in db
        != i == num ? "<li class='breadcrumb-item active'>"+item+"</li>" : "<li class='breadcrumb-item'><a href='#'>"+item+"</a></li>"

mixin sideNav(db,num)
  .sidebar__menu
    ul
      each item,index in db
        - var i = index
        li(class=i == num ? 'active' : '')
          a(href="#")= item