mixin pr(img,name,price)
  .product__item.item
    .item__top
      .item__img
        a(href="#")
          +img(img).img-fluid
      h4.item__title: a(href="#")!= name
    .item__intro
      .item__price: strong #{price} руб.
      .item__bottom
        +counter()
        .item__price: strong #{price} руб.
        a.add-to-cart.btn.btn-simple(href="#")
          i.cart-small.mr-1
          span купить