mixin module(prefix, title, icon)
  div(class="module module__"+prefix)
    if title
      // title start
      h3
        if icon
          i(class=icon)
        != title
      // title end
    block
  | <!-- end module #{prefix} -->

mixin counter
  .choise-count
    a.incr-btn.minus(data-action='decrease' href='#')
      i(class="fa fa-minus" aria-hidden="true")
    input.quantity(type='text' name='quantity' value='1')
    a.incr-btn.plus(data-action='increase' href='#')
      i(class="fa fa-plus" aria-hidden="true")

