-
  var formEl = [
    {"id":"name","type":"text","place":"Как Вас зовут?"},
    {"id":"company","type":"text","place":"Название Вашей компании"},
    {"id":"phone","type":"tel","place":"Ваш телефон"},
    {"id":"email","type":"email","place":"E-mail"}
  ]
each item,i in formEl
  .form-group.pl-xl-3.pl-lg-3.pl-2.pr-xl-3.pr-lg-3.pr-2: input(
    class=i === 2 ? "form-control phone" : "form-control"
    id=item.id
    type=item.type
    placeholder=item.place
  )

.form-group.pl-xl-3.pl-lg-3.pl-2.pr-xl-3.pr-lg-3.pr-2
  textarea#msg.form-control(
    name="msg"
    cols="61"
    rows="3"
    placeholder="Комментарий"
  )