-
  var formEl = [
    {"id":"name","type":"text","place":"Как Вас зовут?"},
    {"id":"phone","type":"tel","place":"Ваш телефон"},
    {"id":"email","type":"email","place":"E-mail"}
  ]
each item,i in formEl
  .form-group: input(
    class=i === 1 ? "form-control phone" : "form-control"
    id=item.id
    type=item.type
    placeholder=item.place
  )

.form-group
  .d-xl-flex.d-lg-flex.d-md-flex.d-sm-flex.d-block.justify-content-start.align-items-center
    button.upload.btn.btn-upload.d-flex.align-items-center.mr-2(type="button" tabindex="-1")
      i.icon-plus.mr-1
      span Приложить файл
    span.js-upload
      input.file(type='file' data-multiple-caption="выбрано {count} шт. файлов" multiple)
      label.mt-xl-0.mt-lg-0.mt-md-0.mt-sm-0.mt-1(for="file")
        span
           | файлы не добавлены

.form-group
  textarea#msg.form-control(
    name="msg"
    cols="61"
    rows="3"
    placeholder="Комментарий"
  )