a.nav-mobile
  display: inline-block
  width: 26px
  height: 22px
  position: relative
  z-index: 99
  i
    position: absolute
    width: 100%
    height: 2px
    display: block
    background-color: #ffffff
    left: 0
    &:nth-child(1)
      top: 0

    &:nth-child(2)
      top: 50%
      margin-top: -1px
    &:nth-child(3)
      top: 100%
      margin-top: -2px

  &.isOpen
    i
      &:nth-child(2)
        opacity: 0
      &:nth-child(1),
      &:nth-child(3)
        top: 50%
        margin-top: -1px

      &:nth-child(1)
        transform: rotate(45deg)
      &:nth-child(3)
        transform: rotate(-45deg)

a.tabSelected
  text-decoration: none
  border-bottom: 2px solid rgba(0,0,0,0)
  background: #ffffff
  position: relative
  i
    position: absolute
    z-index: 1
    top: 50%
    right: 20px
    transform: translateY(-50%)
  span
    position: relative
    z-index: 0
    border-radius: 25px
  &.active
    border-bottom-color: #eaeaea
    span
      border-radius: 25px 25px 0 0

.nav__breadcrumb
  padding: 20px 0 25px
  margin-bottom: 20px
  ol
    padding: 0
    margin: 0
  a
    color: #555555
    font-size: 15px
    text-decoration: none
    background: url('../images/line-bread.png') 0 100% repeat-x
    &:hover
      background: none

  li
    &:last-child
      a
        background: none

.s-top
  a:not(.btn)
    color: #fff
    text-decoration: none
    background: url('../images/line-w.png') 0 100% repeat-x
  ol
    justify-content: center

+max(pad)
  .over
    position: fixed
    width: 100%
    height: 100%
    z-index: 99
    background: rgba(0,0,0,.2)
    display: none
    &.visible
      display: block
  .mobileNav
    position: absolute
    top: 90px
    left: 0
    width: 100%
    z-index: 99
    nav
      a
        font-size: 24px
        color: #ffffff
        text-decoration: none
        &:hover
          text-decoration: none
    .block__city
      margin-left: auto
      margin-right: auto
      max-width: 145px
    .block__phone
      span
        justify-content: center

  .tabs
    border: 1px solid #ffffff
    border-radius: 25px
    overflow: hidden
    &.isOpen
      border-color: $color-red
      ul
        display: block !important

    ul
      li
        span
          border-radius: 0 !important
  .white,
  .blog.bg-gray
    .over
      background: rgba(255,255,255,.9)

  .mobileNav
    padding-top: 20px