html,
body
  height: 100%

.wrap
  min-height: 100%
  height: auto !important
  height: 100%

.content
  padding-bottom: $footer-height


.pagination
  padding: 20px 0 40px
  .page-item
    margin: 0 4px
    a.page-link
      width: 38px
      height: 38px
      line-height: 38px
      font-size: 18px
      padding: 0
      border: 1px solid #d8dde1
      box-sizing: border-box
      text-align: center
      border-radius: 1px
      color: $color-text
      i
        line-height: 0
        display: inline-block
        height: 18px
      &.current,
      &:hover
        background: #ffffff
        color: $color-green !important
        font-weight: 700
      &-prev,
      &-next
        position: relative

      &:hover
        border-color: #2fc4c5


.blog__sw
  .row
    margin: 0 !important
  a
    background-color: #efeeee
    box-shadow: 1.5px 2.598px 9px 0px rgba(10, 79, 86, 0.18),inset -0.682px -0.731px 5px 0px rgba(255, 255, 255, 0.19)
    font-size: 16px
    line-height: 18px
    font-weight: 600
    color: $color-text
    padding: 18px 20px

  li
    position: relative
    z-index: 0

  li:hover,
  li.current
    position: relative
    z-index: 1
    a
      background-color: #f9f9f9
      text-decoration: none