*
  outline-width: thin


h1, h2
  color: $color-green

h1
  font-size: 48px
  line-height: 48px

h2
  font-size: 30px
  line-height: 36px

.content
  article
    font-style: italic
    span.color
      background: #f2fcfc
      padding-left: 5px
      padding-right: 5px
      margin-left: -5px

    blockquote, p
      line-height: normal
      color: #575757

    blockquote
      font-size: 16px
    p, li
      font-size: 14px

    p
      margin-bottom: 20px
      span.big
        font-size: 16px
      &.fz16
        font-size: 16px
        line-height: 18px
        margin-bottom: 14px

    ul
      &.fz16
        li
          font-size: 16px
          line-height: 18px

    blockquote
      padding: 20px
      margin-bottom: 30px
      font-weight: 700
      background: #f2fcfc
      border-radius: 5px
    .block__gray
      padding: 25px 20px 0
      border-radius: 4px
      background-image: gradient( 90deg, rgb(117,223,224) 1%, rgb(255,255,255) 100%)
      background-color: #f9f9f9
      p
        margin-bottom: 14px

      ul
        padding-bottom: 20px
        margin-bottom: 0
        li
          margin-bottom: 10px

      &--shadow
        box-shadow: 1.5px 2.598px 9px 0px rgba(10, 79, 86, 0.18),inset -0.682px -0.731px 5px 0px rgba(255, 255, 255, 0.19)
        ul
          margin-bottom: 0
          li
            position: relative
            span
              position: relative
              display: inline-block
              padding-left: 40px

.border-bottom-half
  posr