.sidebar
  .block__bg
    background: url("../images/m0_1.jpg") 100% 100% no-repeat
  .module__nav
    background-image: url("../images/bg_nav.jpg")
    background-repeat: no-repeat
    background-size: cover
    border-radius: 5px
    box-shadow: 0 10px 15px rgba(0,0,0,0.1)
    font-style: italic
    h3
      padding: 0 15px 20px 15px
      margin-bottom: 26px
      border-bottom: 1px solid #cad1d6
    h4
      font-size: 14px
      font-weight: 700
      margin-bottom: 8px
    .line
      height: 1px
      background: #cad1d6
    a
      font-size: 14px
    h4, a
      color: #575757
    .block__nav
      padding: 0 15px
    ul
      margin-bottom: 0
    li
      padding-left: 18px
      margin-bottom: 8px
      position: relative
      &:before
        content: "\02039"
        position: absolute
        left: 0
        top: 0
      &:last-child
        margin-bottom: 0
      &:hover,
      &.current
        &:before
          content: "\000AB"
        a
          font-weight: 700
          text-decoration: underline

  .module__form
    padding: 20px 15px
    background-color: #f2fcfc
    border-radius: 5px
    box-shadow: 0 10px 15px rgba(0,0,0,0.01)
    box-shadow: 1.5px 2.598px 9px 0px rgba(10, 79, 86, 0.18),inset -0.682px -0.731px 5px 0px rgba(255, 255, 255, 0.19)
    h3
      font-style: italic
      font-size: 18px
      font-weight: 600
    .btn
      padding: 10px 20px
      font-size: 14px
    .btn-upload
      padding-top: 5px
      padding-bottom: 5px
      i
        line-height: 0
        position: relative
        top: -2px