.table__cataloge
  .table__cataloge--head
    .table__cataloge--row
      .uk-flex.uk-flex-wrap.uk-flex-middle.uk-padding-small
        .table__cataloge--col.col-0
          span Наимевание
        .table__cataloge--col.col-1
          span Цена за тонну
        .table__cataloge--col.col-2
          span Кол-во
        .table__cataloge--col.col-3
          span Сумма
  .table__cataloge--title.background-grey.uk-padding-small
    h2 Арматура А3 25Г2С ГОСТ 5781-82

  .table__cataloge--body
    - for (var x = 0; x < 3; x++)
      .table__cataloge--row
        .uk-flex.uk-flex-wrap.uk-flex-middle.uk-padding-small
          .table__cataloge--col.col-0
            a(href="#") Арматура А3 25Г2С Ø 8 мм ГОСТ 5781 м/д 11,7
          .table__cataloge--col.col-1
            span 31 250 руб.
            a.remove(href="#")
              i(uk-icon="icon: close")
          .table__cataloge--col.col-2
            +counter
          .table__cataloge--col.col-3
            strong.price-sum.uk-text-nowrap 1 123 567 руб.
          .table__cataloge--col.col-4
            a.btn-to-cart.uk-button.btn-bdr.btn-brd-blue.uk-text-nowrap(href="#") В корзину
    - for (var x = 0; x < 3; x++)
      .table__cataloge--row
        .uk-flex.uk-flex-wrap.uk-flex-middle.uk-padding-small
          .table__cataloge--col.col-0
            a(href="#") Арматура А3 25Г2С Ø 8 мм ГОСТ 5781 м/д 11,7
          .table__cataloge--col.col-1
            span По запросу
          .table__cataloge--col.col-long
            a.btn-inquiry.uk-button.btn-bdr.btn-brd-blue.uk-text-nowrap(uk-toggle="target: #account-request") Запросить цену
            include ../modal/_account-request
    - for (var x = 0; x < 14; x++)
      .table__cataloge--row
        .uk-flex.uk-flex-wrap.uk-flex-middle.uk-padding-small
          .table__cataloge--col.col-0
            a(href="#") Арматура А3 25Г2С Ø 8 мм ГОСТ 5781 м/д 11,7
          .table__cataloge--col.col-1
            span 31 250 руб.
            a.remove(href="#")
              i(uk-icon="icon: close")
          .table__cataloge--col.col-2
            +counter
          .table__cataloge--col.col-3
            strong.price-sum.uk-text-nowrap 1 123 567 руб.
          .table__cataloge--col.col-4
            a.btn-to-cart.uk-button.btn-bdr.btn-brd-blue.uk-text-nowrap(href="#") В корзину